bin/[^.]*
lib/[^.]*
local/lib/[^.]*
log/[^.]*.log
data/*.*
src/*/*.o
api/*/*.o
src/*/*.so
api/*/*.so
src/*/*.beam
api/*/*.beam
api/*/lib/*.so
api/*/lib/*.a
include/*/*.o
test/*/*.o
test/*/*.so
test/*/*.beam
todo.txt
configs/sentiment_analyser.config
data/classifiers/senti/[^.]*
data/classifiers/lang/testing/*.txt
data/classifiers/lang/training/*.txt
data/classifiers/lang/training/tweetsource/tweets/*.txt
data/classifiers/lang/training/tweetsource/corpus/*.txt
data/classifiers/lang/training/tweetsource/handles/*.txt
data/classifiers/lang/backup/[^.]*
data/classifiers/channels/testing/*.*
data/classifiers/channels/training/*.txt
data/classifiers/channels/training/tweetsource/tweets/*.txt
data/classifiers/channels/training/tweetsource/corpus/*.txt
data/classifiers/channels/training/tweetsource/handles/*.txt
data/classifiers/channels/backup/[^.]*
data/classifiers/ipl/testing/*.*
data/classifiers/ipl/training/*.txt
data/classifiers/ipl/training/tweetsource/tweets/*.txt
data/classifiers/ipl/training/tweetsource/corpus/*.txt
data/classifiers/ipl/training/tweetsource/handles/*.txt
data/classifiers/ipl/backup/[^.]*
data/trends/[^.]*
data/test/[^.]*
