bin/[^.]*
lib/[^.]*
local/lib/[^.]*
log/[^.]*.log
data/*.*
src/*/*.o
api/*/*.o
src/*/*.so
api/*/*.so
src/*/*.beam
api/*/*.beam
api/*/lib/*.so
api/*/lib/*.a
include/*/*.o
test/*/*.o
test/*/*.so
test/*/*.beam
todo.txt
configs/sentiment_analyser.config
data/senti/[^.]*
data/lang/testing/*.*
data/lang/training/*.txt
data/lang/training/tweetsource/tweets/*.*
data/lang/training/tweetsource/corpus/*.*
data/lang/training/tweetsource/handles/*.*
data/lang/backup/[^.]*
data/channels/testing/*.*
data/channels/training/*.txt
data/channels/training/tweetsource/tweets/*.*
data/channels/training/tweetsource/corpus/*.*
data/channels/training/tweetsource/handles/*.*
data/channels/backup/[^.]*
data/ipl/testing/*.*
data/ipl/training/*.txt
data/ipl/training/tweetsource/tweets/*.*
data/ipl/training/tweetsource/corpus/*.*
data/ipl/training/tweetsource/handles/*.*
data/ipl/backup/[^.]*
data/trends/[^.]*
data/test/[^.]*
