channel.0=001
handles.0=/home/balaji/ir_cpp/data/channels/handles/cricket.txt
corpus.0=/home/balaji/ir_cpp/data/channels/corpus/cricket.txt
tweets.0=/home/balaji/ir_cpp/data/channles/tweets/cricket.txt
stopwords.0=/home/balaji/ir_cpp/data/static_data/stopwords.txt
dictionary.0=/home/balaji/ir_cpp/data/static_data/dictionary.txt
unsafewords.0=/home/balaji/ir_cpp/data/static_data/unsafe_dictionary.txt
langdconfig.0=/home/balaji/ir_cpp/configs/language_detection.config
