testdata=/home/balaji/ir_cpp/data/channels/test/classes_freq.txt
frequencies=/home/balaji/ir_cpp/data/channels/tweetsource/freqs/classes_freq.txt
class.0=btgist
trainingdata.0=/home/balaji/ir_cpp/data/channels/training/btgist.txt
handles.0=/home/balaji/ir_cpp/data/channels/tweetsource/handles/btgist.txt
corpus.0=/home/balaji/ir_cpp/data/channels/tweetsource/corpus/btgist.txt
tweets.0=/home/balaji/ir_cpp/data/channels/tweetsource/tweets/btgist.txt
class.1=scitechgist
trainingdata.1=/home/balaji/ir_cpp/data/channels/training/scitechgist.txt
handles.1=/home/balaji/ir_cpp/data/channels/tweetsource/handles/scitechgist.txt
corpus.1=/home/balaji/ir_cpp/data/channels/tweetsource/corpus/scitechgist.txt
tweets.1=/home/balaji/ir_cpp/data/channels/tweetsource/tweets/scitechgist.txt
class.2=cricketgist
trainingdata.2=/home/balaji/ir_cpp/data/channels/training/cricketgist.txt
handles.2=/home/balaji/ir_cpp/data/channels/tweetsource/handles/cricketgist.txt
corpus.2=/home/balaji/ir_cpp/data/channels/tweetsource/corpus/cricketgist.txt
tweets.2=/home/balaji/ir_cpp/data/channels/tweetsource/tweets/cricketgist.txt
class.3=nygist
trainingdata.3=/home/balaji/ir_cpp/data/channels/training/nygist.txt
handles.3=/home/balaji/ir_cpp/data/channels/tweetsource/handles/nygist.txt
corpus.3=/home/balaji/ir_cpp/data/channels/tweetsource/corpus/nygist.txt
tweets.3=/home/balaji/ir_cpp/data/channels/tweetsource/tweets/nygist.txt
class.4=winegist
trainingdata.4=/home/balaji/ir_cpp/data/channels/training/winegist.txt
handles.4=/home/balaji/ir_cpp/data/channels/tweetsource/handles/winegist.txt
corpus.4=/home/balaji/ir_cpp/data/channels/tweetsource/corpus/winegist.txt
tweets.4=/home/balaji/ir_cpp/data/channels/tweetsource/tweets/winegist.txt
class.5=airportsgist
trainingdata.5=/home/balaji/ir_cpp/data/channels/training/airportsgist.txt
handles.5=/home/balaji/ir_cpp/data/channels/tweetsource/handles/airportsgist.txt
corpus.5=/home/balaji/ir_cpp/data/channels/tweetsource/corpus/airportsgist.txt
tweets.5=/home/balaji/ir_cpp/data/channels/tweetsource/tweets/airportsgist.txt
class.6=geekgist
trainingdata.6=/home/balaji/ir_cpp/data/channels/training/geekgist.txt
handles.6=/home/balaji/ir_cpp/data/channels/tweetsource/handles/geekgist.txt
corpus.6=/home/balaji/ir_cpp/data/channels/tweetsource/corpus/geekgist.txt
tweets.6=/home/balaji/ir_cpp/data/channels/tweetsource/tweets/geekgist.txt
class.7=sporegist
trainingdata.7=/home/balaji/ir_cpp/data/channels/training/sporegist.txt
handles.7=/home/balaji/ir_cpp/data/channels/tweetsource/handles/sporegist.txt
corpus.7=/home/balaji/ir_cpp/data/channels/tweetsource/corpus/sporegist.txt
tweets.7=/home/balaji/ir_cpp/data/channels/tweetsource/tweets/sporegist.txt
class.8=fashiongist
trainingdata.8=/home/balaji/ir_cpp/data/channels/training/fashiongist.txt
handles.8=/home/balaji/ir_cpp/data/channels/tweetsource/handles/fashiongist.txt
corpus.8=/home/balaji/ir_cpp/data/channels/tweetsource/corpus/fashiongist.txt
tweets.8=/home/balaji/ir_cpp/data/channels/tweetsource/tweets/fashiongist.txt
class.9=pharmagist
trainingdata.9=/home/balaji/ir_cpp/data/channels/training/pharmagist.txt
handles.9=/home/balaji/ir_cpp/data/channels/tweetsource/handles/pharmagist.txt
corpus.9=/home/balaji/ir_cpp/data/channels/tweetsource/corpus/pharmagist.txt
tweets.9=/home/balaji/ir_cpp/data/channels/tweetsource/tweets/pharmagist.txt
class.10=motorgist
trainingdata.10=/home/balaji/ir_cpp/data/channels/training/motorgist.txt
handles.10=/home/balaji/ir_cpp/data/channels/tweetsource/handles/motorgist.txt
corpus.10=/home/balaji/ir_cpp/data/channels/tweetsource/corpus/motorgist.txt
tweets.10=/home/balaji/ir_cpp/data/channels/tweetsource/tweets/motorgist.txt
class.11=astrogist
trainingdata.11=/home/balaji/ir_cpp/data/channels/training/astrogist.txt
handles.11=/home/balaji/ir_cpp/data/channels/tweetsource/handles/astrogist.txt
corpus.11=/home/balaji/ir_cpp/data/channels/tweetsource/corpus/astrogist.txt
tweets.11=/home/balaji/ir_cpp/data/channels/tweetsource/tweets/astrogist.txt
class.12=healthgist
trainingdata.12=/home/balaji/ir_cpp/data/channels/training/healthgist.txt
handles.12=/home/balaji/ir_cpp/data/channels/tweetsource/handles/healthgist.txt
corpus.12=/home/balaji/ir_cpp/data/channels/tweetsource/corpus/healthgist.txt
tweets.12=/home/balaji/ir_cpp/data/channels/tweetsource/tweets/healthgist.txt
class.13=cancergist
trainingdata.13=/home/balaji/ir_cpp/data/channels/training/cancergist.txt
handles.13=/home/balaji/ir_cpp/data/channels/tweetsource/handles/cancergist.txt
corpus.13=/home/balaji/ir_cpp/data/channels/tweetsource/corpus/cancergist.txt
tweets.13=/home/balaji/ir_cpp/data/channels/tweetsource/tweets/cancergist.txt
class.14=picgist
trainingdata.14=/home/balaji/ir_cpp/data/channels/training/picgist.txt
handles.14=/home/balaji/ir_cpp/data/channels/tweetsource/handles/picgist.txt
corpus.14=/home/balaji/ir_cpp/data/channels/tweetsource/corpus/picgist.txt
tweets.14=/home/balaji/ir_cpp/data/channels/tweetsource/tweets/picgist.txt
class.15=bayareagist
trainingdata.15=/home/balaji/ir_cpp/data/channels/training/bayareagist.txt
handles.15=/home/balaji/ir_cpp/data/channels/tweetsource/handles/bayareagist.txt
corpus.15=/home/balaji/ir_cpp/data/channels/tweetsource/corpus/bayareagist.txt
tweets.15=/home/balaji/ir_cpp/data/channels/tweetsource/tweets/bayareagist.txt
class.16=airlinesgist
trainingdata.16=/home/balaji/ir_cpp/data/channels/training/airlinesgist.txt
handles.16=/home/balaji/ir_cpp/data/channels/tweetsource/handles/airlinesgist.txt
corpus.16=/home/balaji/ir_cpp/data/channels/tweetsource/corpus/airlinesgist.txt
tweets.16=/home/balaji/ir_cpp/data/channels/tweetsource/tweets/airlinesgist.txt
class.17=travelgist
trainingdata.17=/home/balaji/ir_cpp/data/channels/training/travelgist.txt
handles.17=/home/balaji/ir_cpp/data/channels/tweetsource/handles/travelgist.txt
corpus.17=/home/balaji/ir_cpp/data/channels/tweetsource/corpus/travelgist.txt
tweets.17=/home/balaji/ir_cpp/data/channels/tweetsource/tweets/travelgist.txt
class.18=worldnewsgist
trainingdata.18=/home/balaji/ir_cpp/data/channels/training/worldnewsgist.txt
handles.18=/home/balaji/ir_cpp/data/channels/tweetsource/handles/worldnewsgist.txt
corpus.18=/home/balaji/ir_cpp/data/channels/tweetsource/corpus/worldnewsgist.txt
tweets.18=/home/balaji/ir_cpp/data/channels/tweetsource/tweets/worldnewsgist.txt
class.19=soccergist
trainingdata.19=/home/balaji/ir_cpp/data/channels/training/soccergist.txt
handles.19=/home/balaji/ir_cpp/data/channels/tweetsource/handles/soccergist.txt
corpus.19=/home/balaji/ir_cpp/data/channels/tweetsource/corpus/soccergist.txt
tweets.19=/home/balaji/ir_cpp/data/channels/tweetsource/tweets/soccergist.txt
class.20=worldbizgist
trainingdata.20=/home/balaji/ir_cpp/data/channels/training/worldbizgist.txt
handles.20=/home/balaji/ir_cpp/data/channels/tweetsource/handles/worldbizgist.txt
corpus.20=/home/balaji/ir_cpp/data/channels/tweetsource/corpus/worldbizgist.txt
tweets.20=/home/balaji/ir_cpp/data/channels/tweetsource/tweets/worldbizgist.txt
class.21=booksgist
trainingdata.21=/home/balaji/ir_cpp/data/channels/training/booksgist.txt
handles.21=/home/balaji/ir_cpp/data/channels/tweetsource/handles/booksgist.txt
corpus.21=/home/balaji/ir_cpp/data/channels/tweetsource/corpus/booksgist.txt
tweets.21=/home/balaji/ir_cpp/data/channels/tweetsource/tweets/booksgist.txt
class.22=foodgist
trainingdata.22=/home/balaji/ir_cpp/data/channels/training/foodgist.txt
handles.22=/home/balaji/ir_cpp/data/channels/tweetsource/handles/foodgist.txt
corpus.22=/home/balaji/ir_cpp/data/channels/tweetsource/corpus/foodgist.txt
tweets.22=/home/balaji/ir_cpp/data/channels/tweetsource/tweets/foodgist.txt
class.23=londongist
trainingdata.23=/home/balaji/ir_cpp/data/channels/training/londongist.txt
handles.23=/home/balaji/ir_cpp/data/channels/tweetsource/handles/londongist.txt
corpus.23=/home/balaji/ir_cpp/data/channels/tweetsource/corpus/londongist.txt
tweets.23=/home/balaji/ir_cpp/data/channels/tweetsource/tweets/londongist.txt
class.24=indonesiagist
trainingdata.24=/home/balaji/ir_cpp/data/channels/training/indonesiagist.txt
handles.24=/home/balaji/ir_cpp/data/channels/tweetsource/handles/indonesiagist.txt
corpus.24=/home/balaji/ir_cpp/data/channels/tweetsource/corpus/indonesiagist.txt
tweets.24=/home/balaji/ir_cpp/data/channels/tweetsource/tweets/indonesiagist.txt
class.25=indiagist
trainingdata.25=/home/balaji/ir_cpp/data/channels/training/indiagist.txt
handles.25=/home/balaji/ir_cpp/data/channels/tweetsource/handles/indiagist.txt
corpus.25=/home/balaji/ir_cpp/data/channels/tweetsource/corpus/indiagist.txt
tweets.25=/home/balaji/ir_cpp/data/channels/tweetsource/tweets/indiagist.txt
class.26=hitechgist
trainingdata.26=/home/balaji/ir_cpp/data/channels/training/hitechgist.txt
handles.26=/home/balaji/ir_cpp/data/channels/tweetsource/handles/hitechgist.txt
corpus.26=/home/balaji/ir_cpp/data/channels/tweetsource/corpus/hitechgist.txt
tweets.26=/home/balaji/ir_cpp/data/channels/tweetsource/tweets/hitechgist.txt
class.27=designgist
trainingdata.27=/home/balaji/ir_cpp/data/channels/training/designgist.txt
handles.27=/home/balaji/ir_cpp/data/channels/tweetsource/handles/designgist.txt
corpus.27=/home/balaji/ir_cpp/data/channels/tweetsource/corpus/designgist.txt
tweets.27=/home/balaji/ir_cpp/data/channels/tweetsource/tweets/designgist.txt
class.28=musicgist
trainingdata.28=/home/balaji/ir_cpp/data/channels/training/musicgist.txt
handles.28=/home/balaji/ir_cpp/data/channels/tweetsource/handles/musicgist.txt
corpus.28=/home/balaji/ir_cpp/data/channels/tweetsource/corpus/musicgist.txt
tweets.28=/home/balaji/ir_cpp/data/channels/tweetsource/tweets/musicgist.txt
class.29=francegist
trainingdata.29=/home/balaji/ir_cpp/data/channels/training/francegist.txt
handles.29=/home/balaji/ir_cpp/data/channels/tweetsource/handles/francegist.txt
corpus.29=/home/balaji/ir_cpp/data/channels/tweetsource/corpus/francegist.txt
tweets.29=/home/balaji/ir_cpp/data/channels/tweetsource/tweets/francegist.txt
class.30=ngogist
trainingdata.30=/home/balaji/ir_cpp/data/channels/training/ngogist.txt
handles.30=/home/balaji/ir_cpp/data/channels/tweetsource/handles/ngogist.txt
corpus.30=/home/balaji/ir_cpp/data/channels/tweetsource/corpus/ngogist.txt
tweets.30=/home/balaji/ir_cpp/data/channels/tweetsource/tweets/ngogist.txt
class.31=testa19
trainingdata.31=/home/balaji/ir_cpp/data/channels/training/testa19.txt
handles.31=/home/balaji/ir_cpp/data/channels/tweetsource/handles/testa19.txt
corpus.31=/home/balaji/ir_cpp/data/channels/tweetsource/corpus/testa19.txt
tweets.31=/home/balaji/ir_cpp/data/channels/tweetsource/tweets/testa19.txt
class.32=malaygist
trainingdata.32=/home/balaji/ir_cpp/data/channels/training/malaygist.txt
handles.32=/home/balaji/ir_cpp/data/channels/tweetsource/handles/malaygist.txt
corpus.32=/home/balaji/ir_cpp/data/channels/tweetsource/corpus/malaygist.txt
tweets.32=/home/balaji/ir_cpp/data/channels/tweetsource/tweets/malaygist.txt
class.33=bollygist
trainingdata.33=/home/balaji/ir_cpp/data/channels/training/bollygist.txt
handles.33=/home/balaji/ir_cpp/data/channels/tweetsource/handles/bollygist.txt
corpus.33=/home/balaji/ir_cpp/data/channels/tweetsource/corpus/bollygist.txt
tweets.33=/home/balaji/ir_cpp/data/channels/tweetsource/tweets/bollygist.txt
class.34=hollygist
trainingdata.34=/home/balaji/ir_cpp/data/channels/training/hollygist.txt
handles.34=/home/balaji/ir_cpp/data/channels/tweetsource/handles/hollygist.txt
corpus.34=/home/balaji/ir_cpp/data/channels/tweetsource/corpus/hollygist.txt
tweets.34=/home/balaji/ir_cpp/data/channels/tweetsource/tweets/hollygist.txt
class.35=envirogist
trainingdata.35=/home/balaji/ir_cpp/data/channels/training/envirogist.txt
handles.35=/home/balaji/ir_cpp/data/channels/tweetsource/handles/envirogist.txt
corpus.35=/home/balaji/ir_cpp/data/channels/tweetsource/corpus/envirogist.txt
tweets.35=/home/balaji/ir_cpp/data/channels/tweetsource/tweets/envirogist.txt
class.36=sportsinagist
trainingdata.36=/home/balaji/ir_cpp/data/channels/training/sportsinagist.txt
handles.36=/home/balaji/ir_cpp/data/channels/tweetsource/handles/sportsinagist.txt
corpus.36=/home/balaji/ir_cpp/data/channels/tweetsource/corpus/sportsinagist.txt
tweets.36=/home/balaji/ir_cpp/data/channels/tweetsource/tweets/sportsinagist.txt
