stopwords=/home/balaji/ir_cpp/data/static_data/stopwords.txt
dictionary=/home/balaji/ir_cpp/data/static_data/dictionary.txt
unsafe_dictionary=/home/balaji/ir_cpp/data/static_data/unsafe_dictionary.txt
language_dictionary=/home/balaji/ir_cpp/data/classifiers/lang/language_dictionary.txt
language_prior_freqs=/home/balaji/ir_cpp/data/classifiers/lang/language_prior_freqs.txt
classifier_dictionary=/home/balaji/ir_cpp/data/classifiers/channels/classifier_dictionary.txt
location_dictionary=/home/balaji/ir_cpp/data/classifiers/channels/location_dictionary.txt
intent_words=/home/balaji/ir_cpp/data/static_data/intent_words.txt
sentiment_words=/home/balaji/ir_cpp/data/static_data/sentiment_words.txt
stemmer_dictionary=/home/balaji/ir_cpp/data/static_data/stemmer_dictionary.txt
