testdata=/home/balaji/ir_cpp/data/ipl/test/ipl_classes_freq.txt
class.0=lionsdenkxip
trainingdata.0=/home/balaji/ir_cpp/data/ipl/training/lionsdenkxip.txt
handles.0=/home/balaji/ir_cpp/data/ipl/tweetsource/handles/lionsdenkxip.txt
corpus.0=/home/balaji/ir_cpp/data/ipl/tweetsource/corpus/lionsdenkxip.txt
tweets.0=/home/balaji/ir_cpp/data/ipl/tweetsource/tweets/lionsdenkxip.txt
class.1=delhidaredevils
trainingdata.1=/home/balaji/ir_cpp/data/ipl/training/delhidaredevils.txt
handles.1=/home/balaji/ir_cpp/data/ipl/tweetsource/handles/delhidaredevils.txt
corpus.1=/home/balaji/ir_cpp/data/ipl/tweetsource/corpus/delhidaredevils.txt
tweets.1=/home/balaji/ir_cpp/data/ipl/tweetsource/tweets/delhidaredevils.txt
class.2=KochiTuskersKTK
trainingdata.2=/home/balaji/ir_cpp/data/ipl/training/KochiTuskersKTK.txt
handles.2=/home/balaji/ir_cpp/data/ipl/tweetsource/handles/KochiTuskersKTK.txt
corpus.2=/home/balaji/ir_cpp/data/ipl/tweetsource/corpus/KochiTuskersKTK.txt
tweets.2=/home/balaji/ir_cpp/data/ipl/tweetsource/tweets/KochiTuskersKTK.txt
class.3=punewarriorsipl
trainingdata.3=/home/balaji/ir_cpp/data/ipl/training/punewarriorsipl.txt
handles.3=/home/balaji/ir_cpp/data/ipl/tweetsource/handles/punewarriorsipl.txt
corpus.3=/home/balaji/ir_cpp/data/ipl/tweetsource/corpus/punewarriorsipl.txt
tweets.3=/home/balaji/ir_cpp/data/ipl/tweetsource/tweets/punewarriorsipl.txt
class.4=RCBTweets
trainingdata.4=/home/balaji/ir_cpp/data/ipl/training/RCBTweets.txt
handles.4=/home/balaji/ir_cpp/data/ipl/tweetsource/handles/RCBTweets.txt
corpus.4=/home/balaji/ir_cpp/data/ipl/tweetsource/corpus/RCBTweets.txt
tweets.4=/home/balaji/ir_cpp/data/ipl/tweetsource/tweets/RCBTweets.txt
class.5=ChargersHome
trainingdata.5=/home/balaji/ir_cpp/data/ipl/training/ChargersHome.txt
handles.5=/home/balaji/ir_cpp/data/ipl/tweetsource/handles/ChargersHome.txt
corpus.5=/home/balaji/ir_cpp/data/ipl/tweetsource/corpus/ChargersHome.txt
tweets.5=/home/balaji/ir_cpp/data/ipl/tweetsource/tweets/ChargersHome.txt
class.6=chennai_kings
trainingdata.6=/home/balaji/ir_cpp/data/ipl/training/chennai_kings.txt
handles.6=/home/balaji/ir_cpp/data/ipl/tweetsource/handles/chennai_kings.txt
corpus.6=/home/balaji/ir_cpp/data/ipl/tweetsource/corpus/chennai_kings.txt
tweets.6=/home/balaji/ir_cpp/data/ipl/tweetsource/tweets/chennai_kings.txt
class.7=KKRiders
trainingdata.7=/home/balaji/ir_cpp/data/ipl/training/KKRiders.txt
handles.7=/home/balaji/ir_cpp/data/ipl/tweetsource/handles/KKRiders.txt
corpus.7=/home/balaji/ir_cpp/data/ipl/tweetsource/corpus/KKRiders.txt
tweets.7=/home/balaji/ir_cpp/data/ipl/tweetsource/tweets/KKRiders.txt
class.8=rajasthanroyals
trainingdata.8=/home/balaji/ir_cpp/data/ipl/training/rajasthanroyals.txt
handles.8=/home/balaji/ir_cpp/data/ipl/tweetsource/handles/rajasthanroyals.txt
corpus.8=/home/balaji/ir_cpp/data/ipl/tweetsource/corpus/rajasthanroyals.txt
tweets.8=/home/balaji/ir_cpp/data/ipl/tweetsource/tweets/rajasthanroyals.txt
class.9=mipaltan
trainingdata.9=/home/balaji/ir_cpp/data/ipl/training/mipaltan.txt
handles.9=/home/balaji/ir_cpp/data/ipl/tweetsource/handles/mipaltan.txt
corpus.9=/home/balaji/ir_cpp/data/ipl/tweetsource/corpus/mipaltan.txt
tweets.9=/home/balaji/ir_cpp/data/ipl/tweetsource/tweets/mipaltan.txt
