testdata=/home/balaji/ir_cpp/data/classifiers/ipl/test/classes_freq.txt
frequencies=/home/balaji/ir_cpp/data/classifiers/ipl/tweetsource/freqs/classes_freq.txt
class.0=lionsdenkxip
label.0=Kings XI Punjab
trainingdata.0=/home/balaji/ir_cpp/data/classifiers/ipl/training/lionsdenkxip.txt
timestamps.0=/home/balaji/ir_cpp/data/classifiers/ipl/tweetsource/timestamps/lionsdenkxip.txt
corpus.0=/home/balaji/ir_cpp/data/classifiers/ipl/tweetsource/corpus/lionsdenkxip.txt
tweets.0=/home/balaji/ir_cpp/data/classifiers/ipl/tweetsource/tweets/lionsdenkxip.txt
class.1=delhidaredevils
label.1=Delhi Daredevils
trainingdata.1=/home/balaji/ir_cpp/data/classifiers/ipl/training/delhidaredevils.txt
timestamps.1=/home/balaji/ir_cpp/data/classifiers/ipl/tweetsource/timestamps/delhidaredevils.txt
corpus.1=/home/balaji/ir_cpp/data/classifiers/ipl/tweetsource/corpus/delhidaredevils.txt
tweets.1=/home/balaji/ir_cpp/data/classifiers/ipl/tweetsource/tweets/delhidaredevils.txt
class.2=KochiTuskersKTK
label.2=Kochi Tuskers Kerala
trainingdata.2=/home/balaji/ir_cpp/data/classifiers/ipl/training/KochiTuskersKTK.txt
timestamps.2=/home/balaji/ir_cpp/data/classifiers/ipl/tweetsource/timestamps/KochiTuskersKTK.txt
corpus.2=/home/balaji/ir_cpp/data/classifiers/ipl/tweetsource/corpus/KochiTuskersKTK.txt
tweets.2=/home/balaji/ir_cpp/data/classifiers/ipl/tweetsource/tweets/KochiTuskersKTK.txt
class.3=punewarriorsipl
label.3=Pune Warriors India
trainingdata.3=/home/balaji/ir_cpp/data/classifiers/ipl/training/punewarriorsipl.txt
timestamps.3=/home/balaji/ir_cpp/data/classifiers/ipl/tweetsource/timestamps/punewarriorsipl.txt
corpus.3=/home/balaji/ir_cpp/data/classifiers/ipl/tweetsource/corpus/punewarriorsipl.txt
tweets.3=/home/balaji/ir_cpp/data/classifiers/ipl/tweetsource/tweets/punewarriorsipl.txt
class.4=RCBTweets
label.4=Royal Challengers Bangalore
trainingdata.4=/home/balaji/ir_cpp/data/classifiers/ipl/training/RCBTweets.txt
timestamps.4=/home/balaji/ir_cpp/data/classifiers/ipl/tweetsource/timestamps/RCBTweets.txt
corpus.4=/home/balaji/ir_cpp/data/classifiers/ipl/tweetsource/corpus/RCBTweets.txt
tweets.4=/home/balaji/ir_cpp/data/classifiers/ipl/tweetsource/tweets/RCBTweets.txt
class.5=ChargersHome
label.5=Deccan Chargers
trainingdata.5=/home/balaji/ir_cpp/data/classifiers/ipl/training/ChargersHome.txt
timestamps.5=/home/balaji/ir_cpp/data/classifiers/ipl/tweetsource/timestamps/ChargersHome.txt
corpus.5=/home/balaji/ir_cpp/data/classifiers/ipl/tweetsource/corpus/ChargersHome.txt
tweets.5=/home/balaji/ir_cpp/data/classifiers/ipl/tweetsource/tweets/ChargersHome.txt
class.6=chennai_kings
label.6=Chennai SuperKings
trainingdata.6=/home/balaji/ir_cpp/data/classifiers/ipl/training/chennai_kings.txt
timestamps.6=/home/balaji/ir_cpp/data/classifiers/ipl/tweetsource/timestamps/chennai_kings.txt
corpus.6=/home/balaji/ir_cpp/data/classifiers/ipl/tweetsource/corpus/chennai_kings.txt
tweets.6=/home/balaji/ir_cpp/data/classifiers/ipl/tweetsource/tweets/chennai_kings.txt
class.7=KKRiders
label.7=Kolkata Knight Riders
trainingdata.7=/home/balaji/ir_cpp/data/classifiers/ipl/training/KKRiders.txt
timestamps.7=/home/balaji/ir_cpp/data/classifiers/ipl/tweetsource/timestamps/KKRiders.txt
corpus.7=/home/balaji/ir_cpp/data/classifiers/ipl/tweetsource/corpus/KKRiders.txt
tweets.7=/home/balaji/ir_cpp/data/classifiers/ipl/tweetsource/tweets/KKRiders.txt
class.8=rajasthanroyals
label.8=Rajasthan Royals
trainingdata.8=/home/balaji/ir_cpp/data/classifiers/ipl/training/rajasthanroyals.txt
timestamps.8=/home/balaji/ir_cpp/data/classifiers/ipl/tweetsource/timestamps/rajasthanroyals.txt
corpus.8=/home/balaji/ir_cpp/data/classifiers/ipl/tweetsource/corpus/rajasthanroyals.txt
tweets.8=/home/balaji/ir_cpp/data/classifiers/ipl/tweetsource/tweets/rajasthanroyals.txt
class.9=mipaltan
label.9=Mumabi Indians
trainingdata.9=/home/balaji/ir_cpp/data/classifiers/ipl/training/mipaltan.txt
timestamps.9=/home/balaji/ir_cpp/data/classifiers/ipl/tweetsource/timestamps/mipaltan.txt
corpus.9=/home/balaji/ir_cpp/data/classifiers/ipl/tweetsource/corpus/mipaltan.txt
tweets.9=/home/balaji/ir_cpp/data/classifiers/ipl/tweetsource/tweets/mipaltan.txt
