stopwords=/home/balaji/ir_cpp/data/static_data/stopwords.txt
dictionary=/home/balaji/ir_cpp/data/static_data/dictionary.txt
classifier_dictionary=/home/balaji/ir_cpp/data/static_data/classifier_dictionary.txt
unsafe_dictionary=/home/balaji/ir_cpp/data/static_data/unsafe_dictionary.txt
stemmer_dictionary=/home/balaji/ir_cpp/data/static_data/stemmer_dictionary.txt
lang_detect_config=/home/balaji/ir_cpp/configs/language_detection.config
