testdata=/home/balaji/ir_cpp/data/lang/test/classes_freq.txt
frequencies=/home/balaji/ir_cpp/data/lang/tweetsource/freqs/classes_freq.txt
class.0=en
label.0=en
trainingdata.0=/home/balaji/ir_cpp/data/lang/training/english.txt
handles.0=/home/balaji/ir_cpp/data/lang/tweetsource/handles/english.txt
corpus.0=/home/balaji/ir_cpp/data/lang/tweetsource/corpus/english.txt
tweets.0=/home/balaji/ir_cpp/data/lang/tweetsource/tweets/english.txt
class.1=fr
label.1=fr
trainingdata.1=/home/balaji/ir_cpp/data/lang/training/french.txt
handles.1=/home/balaji/ir_cpp/data/lang/tweetsource/handles/french.txt
corpus.1=/home/balaji/ir_cpp/data/lang/tweetsource/corpus/french.txt
tweets.1=/home/balaji/ir_cpp/data/lang/tweetsource/tweets/french.txt
class.2=de
label.2=de
trainingdata.2=/home/balaji/ir_cpp/data/lang/training/german.txt
handles.2=/home/balaji/ir_cpp/data/lang/tweetsource/handles/german.txt
corpus.2=/home/balaji/ir_cpp/data/lang/tweetsource/corpus/german.txt
tweets.2=/home/balaji/ir_cpp/data/lang/tweetsource/tweets/german.txt
class.3=es
label.3=es
trainingdata.3=/home/balaji/ir_cpp/data/lang/training/spanish.txt
handles.3=/home/balaji/ir_cpp/data/lang/tweetsource/handles/spanish.txt
corpus.3=/home/balaji/ir_cpp/data/lang/tweetsource/corpus/spanish.txt
tweets.3=/home/balaji/ir_cpp/data/lang/tweetsource/tweets/spanish.txt
class.4=pt
label.4=pt
trainingdata.4=/home/balaji/ir_cpp/data/lang/training/portuguese.txt
handles.4=/home/balaji/ir_cpp/data/lang/tweetsource/handles/portuguese.txt
corpus.4=/home/balaji/ir_cpp/data/lang/tweetsource/corpus/portuguese.txt
tweets.4=/home/balaji/ir_cpp/data/lang/tweetsource/tweets/portuguese.txt
class.5=nl
label.5=nl
trainingdata.5=/home/balaji/ir_cpp/data/lang/training/dutch.txt
handles.5=/home/balaji/ir_cpp/data/lang/tweetsource/handles/dutch.txt
corpus.5=/home/balaji/ir_cpp/data/lang/tweetsource/corpus/dutch.txt
tweets.5=/home/balaji/ir_cpp/data/lang/tweetsource/tweets/dutch.txt
class.6=hu
label.6=hu
trainingdata.6=/home/balaji/ir_cpp/data/lang/training/hungarian.txt
handles.6=/home/balaji/ir_cpp/data/lang/tweetsource/handles/hungarian.txt
corpus.6=/home/balaji/ir_cpp/data/lang/tweetsource/corpus/hungarian.txt
tweets.6=/home/balaji/ir_cpp/data/lang/tweetsource/tweets/hungarian.txt
class.7=it
label.7=it
trainingdata.7=/home/balaji/ir_cpp/data/lang/training/italian.txt
handles.7=/home/balaji/ir_cpp/data/lang/tweetsource/handles/italian.txt
corpus.7=/home/balaji/ir_cpp/data/lang/tweetsource/corpus/italian.txt
tweets.7=/home/balaji/ir_cpp/data/lang/tweetsource/tweets/italian.txt
class.8=nn
label.8=nn
trainingdata.8=/home/balaji/ir_cpp/data/lang/training/norwegian.txt
handles.8=/home/balaji/ir_cpp/data/lang/tweetsource/handles/norwegian.txt
corpus.8=/home/balaji/ir_cpp/data/lang/tweetsource/corpus/norwegian.txt
tweets.8=/home/balaji/ir_cpp/data/lang/tweetsource/tweets/notwegian.txt
class.9=sv
label.9=sv
trainingdata.9=/home/balaji/ir_cpp/data/lang/training/swedish.txt
handles.9=/home/balaji/ir_cpp/data/lang/tweetsource/handles/swedish.txt
corpus.9=/home/balaji/ir_cpp/data/lang/tweetsource/corpus/swedish.txt
tweets.9=/home/balaji/ir_cpp/data/lang/tweetsource/tweets/swedish.txt
class.10=id
label.10=id
trainingdata.10=/home/balaji/ir_cpp/data/lang/training/indonesian.txt
handles.10=/home/balaji/ir_cpp/data/lang/tweetsource/handles/indonesian.txt
corpus.10=/home/balaji/ir_cpp/data/lang/tweetsource/corpus/indonesian.txt
tweets.10=/home/balaji/ir_cpp/data/lang/tweetsource/tweets/indonesian.txt
class.11=ms
label.11=ms
trainingdata.11=/home/balaji/ir_cpp/data/lang/training/malay.txt
handles.11=/home/balaji/ir_cpp/data/lang/tweetsource/handles/malay.txt
corpus.11=/home/balaji/ir_cpp/data/lang/tweetsource/corpus/malay.txt
tweets.11=/home/balaji/ir_cpp/data/lang/tweetsource/tweets/malay.txt
class.12=pl
label.12=pl
trainingdata.12=/home/balaji/ir_cpp/data/lang/training/polish.txt
handles.12=/home/balaji/ir_cpp/data/lang/tweetsource/handles/polish.txt
corpus.12=/home/balaji/ir_cpp/data/lang/tweetsource/corpus/polish.txt
tweets.12=/home/balaji/ir_cpp/data/lang/tweetsource/tweets/polish.txt
class.13=fi
label.13=fi
trainingdata.13=/home/balaji/ir_cpp/data/lang/training/finnish.txt
handles.13=/home/balaji/ir_cpp/data/lang/tweetsource/handles/finnish.txt
corpus.13=/home/balaji/ir_cpp/data/lang/tweetsource/corpus/finnish.txt
tweets.13=/home/balaji/ir_cpp/data/lang/tweetsource/tweets/finnish.txt
class.14=dk
label.14=dk
trainingdata.14=/home/balaji/ir_cpp/data/lang/training/danish.txt
handles.14=/home/balaji/ir_cpp/data/lang/tweetsource/handles/danish.txt
corpus.14=/home/balaji/ir_cpp/data/lang/tweetsource/corpus/danish.txt
tweets.14=/home/balaji/ir_cpp/data/lang/tweetsource/tweets/danish.txt
class.15=tr
label.15=tr
trainingdata.15=/home/balaji/ir_cpp/data/lang/training/turkish.txt
handles.15=/home/balaji/ir_cpp/data/lang/tweetsource/handles/turkish.txt
corpus.15=/home/balaji/ir_cpp/data/lang/tweetsource/corpus/turkish.txt
tweets.15=/home/balaji/ir_cpp/data/lang/tweetsource/tweets/turkish.txt

