class_frequencies=/home/balaji/ir_cpp/data/classifiers/lang/classes/classes_freq.txt
test_frequencies=/home/balaji/ir_cpp/data/classifiers/lang/testing/classes_freq.txt
num_classes=16
class_name.0=en
class_label.0=en
class_data.0=/home/balaji/ir_cpp/data/classifiers/lang/classes/english.txt
testing_data.0=/home/balaji/ir_cpp/data/classifiers/lang/testing/english.txt
testing_timestamps.0=/home/balaji/ir_cpp/data/classifiers/lang/testing/tweetsource/timestamps/english.txt
testing_corpus.0=/home/balaji/ir_cpp/data/classifiers/lang/testing/tweetsource/corpus/english.txt
testing_tweets.0=/home/balaji/ir_cpp/data/classifiers/lang/testing/tweetsource/tweets/english.txt
training_data.0=/home/balaji/ir_cpp/data/classifiers/lang/training/english.txt
training_handles.0=/home/balaji/ir_cpp/data/classifiers/lang/training/tweetsource/handles/english.txt
training_timestamps.0=/home/balaji/ir_cpp/data/classifiers/lang/training/tweetsource/timestamps/english.txt
training_corpus.0=/home/balaji/ir_cpp/data/classifiers/lang/training/tweetsource/corpus/english.txt
training_tweets.0=/home/balaji/ir_cpp/data/classifiers/lang/training/tweetsource/tweets/english.txt
seed.0=/home/balaji/ir_cpp/data/classifiers/lang/training/manual/english.txt
class_name.1=fr
class_label.1=fr
class_data.1=/home/balaji/ir_cpp/data/classifiers/lang/classes/french.txt
testing_data.1=/home/balaji/ir_cpp/data/classifiers/lang/testing/french.txt
testing_timestamps.1=/home/balaji/ir_cpp/data/classifiers/lang/testing/tweetsource/timestamps/french.txt
testing_corpus.1=/home/balaji/ir_cpp/data/classifiers/lang/testing/tweetsource/corpus/french.txt
testing_tweets.1=/home/balaji/ir_cpp/data/classifiers/lang/testing/tweetsource/tweets/french.txt
training_data.1=/home/balaji/ir_cpp/data/classifiers/lang/training/french.txt
training_handles.1=/home/balaji/ir_cpp/data/classifiers/lang/training/tweetsource/handles/french.txt
training_timestamps.1=/home/balaji/ir_cpp/data/classifiers/lang/training/tweetsource/timestamps/french.txt
training_corpus.1=/home/balaji/ir_cpp/data/classifiers/lang/training/tweetsource/corpus/french.txt
training_tweets.1=/home/balaji/ir_cpp/data/classifiers/lang/training/tweetsource/tweets/french.txt
seed.1=/home/balaji/ir_cpp/data/classifiers/lang/training/manual/french.txt
class_name.2=de
class_label.2=de
class_data.2=/home/balaji/ir_cpp/data/classifiers/lang/classes/german.txt
testing_data.2=/home/balaji/ir_cpp/data/classifiers/lang/testing/german.txt
testing_timestamps.2=/home/balaji/ir_cpp/data/classifiers/lang/testing/tweetsource/timestamps/german.txt
testing_corpus.2=/home/balaji/ir_cpp/data/classifiers/lang/testing/tweetsource/corpus/german.txt
testing_tweets.2=/home/balaji/ir_cpp/data/classifiers/lang/testing/tweetsource/tweets/german.txt
training_data.2=/home/balaji/ir_cpp/data/classifiers/lang/training/german.txt
training_handles.2=/home/balaji/ir_cpp/data/classifiers/lang/training/tweetsource/handles/german.txt
training_timestamps.2=/home/balaji/ir_cpp/data/classifiers/lang/training/tweetsource/timestamps/german.txt
training_corpus.2=/home/balaji/ir_cpp/data/classifiers/lang/training/tweetsource/corpus/german.txt
training_tweets.2=/home/balaji/ir_cpp/data/classifiers/lang/training/tweetsource/tweets/german.txt
seed.2=/home/balaji/ir_cpp/data/classifiers/lang/training/manual/german.txt
class_name.3=es
class_label.3=es
class_data.3=/home/balaji/ir_cpp/data/classifiers/lang/classes/spanish.txt
testing_data.3=/home/balaji/ir_cpp/data/classifiers/lang/testing/spanish.txt
testing_timestamps.3=/home/balaji/ir_cpp/data/classifiers/lang/testing/tweetsource/timestamps/spanish.txt
testing_corpus.3=/home/balaji/ir_cpp/data/classifiers/lang/testing/tweetsource/corpus/spanish.txt
testing_tweets.3=/home/balaji/ir_cpp/data/classifiers/lang/testing/tweetsource/tweets/spanish.txt
training_data.3=/home/balaji/ir_cpp/data/classifiers/lang/training/spanish.txt
training_handles.3=/home/balaji/ir_cpp/data/classifiers/lang/training/tweetsource/handles/spanish.txt
training_timestamps.3=/home/balaji/ir_cpp/data/classifiers/lang/training/tweetsource/timestamps/spanish.txt
training_corpus.3=/home/balaji/ir_cpp/data/classifiers/lang/training/tweetsource/corpus/spanish.txt
training_tweets.3=/home/balaji/ir_cpp/data/classifiers/lang/training/tweetsource/tweets/spanish.txt
seed.3=/home/balaji/ir_cpp/data/classifiers/lang/training/manual/spanish.txt
class_name.4=pt
class_label.4=pt
class_data.4=/home/balaji/ir_cpp/data/classifiers/lang/classes/portuguese.txt
testing_data.4=/home/balaji/ir_cpp/data/classifiers/lang/testing/portuguese.txt
testing_timestamps.4=/home/balaji/ir_cpp/data/classifiers/lang/testing/tweetsource/timestamps/portuguese.txt
testing_corpus.4=/home/balaji/ir_cpp/data/classifiers/lang/testing/tweetsource/corpus/portuguese.txt
testing_tweets.4=/home/balaji/ir_cpp/data/classifiers/lang/testing/tweetsource/tweets/portuguese.txt
training_data.4=/home/balaji/ir_cpp/data/classifiers/lang/training/portuguese.txt
training_handles.4=/home/balaji/ir_cpp/data/classifiers/lang/training/tweetsource/handles/portuguese.txt
training_timestamps.4=/home/balaji/ir_cpp/data/classifiers/lang/training/tweetsource/timestamps/portuguese.txt
training_corpus.4=/home/balaji/ir_cpp/data/classifiers/lang/training/tweetsource/corpus/portuguese.txt
training_tweets.4=/home/balaji/ir_cpp/data/classifiers/lang/training/tweetsource/tweets/portuguese.txt
seed.4=/home/balaji/ir_cpp/data/classifiers/lang/training/manual/portuguese.txt
class_name.5=nl
class_label.5=nl
class_data.5=/home/balaji/ir_cpp/data/classifiers/lang/classes/dutch.txt
testing_data.5=/home/balaji/ir_cpp/data/classifiers/lang/testing/dutch.txt
testing_timestamps.5=/home/balaji/ir_cpp/data/classifiers/lang/testing/tweetsource/timestamps/dutch.txt
testing_corpus.5=/home/balaji/ir_cpp/data/classifiers/lang/testing/tweetsource/corpus/dutch.txt
testing_tweets.5=/home/balaji/ir_cpp/data/classifiers/lang/testing/tweetsource/tweets/dutch.txt
training_data.5=/home/balaji/ir_cpp/data/classifiers/lang/training/dutch.txt
training_handles.5=/home/balaji/ir_cpp/data/classifiers/lang/training/tweetsource/handles/dutch.txt
training_timestamps.5=/home/balaji/ir_cpp/data/classifiers/lang/training/tweetsource/timestamps/dutch.txt
training_corpus.5=/home/balaji/ir_cpp/data/classifiers/lang/training/tweetsource/corpus/dutch.txt
training_tweets.5=/home/balaji/ir_cpp/data/classifiers/lang/training/tweetsource/tweets/dutch.txt
seed.5=/home/balaji/ir_cpp/data/classifiers/lang/training/manual/dutch.txt
class_name.6=hu
class_label.6=hu
class_data.6=/home/balaji/ir_cpp/data/classifiers/lang/classes/hungarian.txt
testing_data.6=/home/balaji/ir_cpp/data/classifiers/lang/testing/hungarian.txt
testing_timestamps.6=/home/balaji/ir_cpp/data/classifiers/lang/testing/tweetsource/timestamps/hungarian.txt
testing_corpus.6=/home/balaji/ir_cpp/data/classifiers/lang/testing/tweetsource/corpus/hungarian.txt
testing_tweets.6=/home/balaji/ir_cpp/data/classifiers/lang/testing/tweetsource/tweets/hungarian.txt
training_data.6=/home/balaji/ir_cpp/data/classifiers/lang/training/hungarian.txt
training_handles.6=/home/balaji/ir_cpp/data/classifiers/lang/training/tweetsource/handles/hungarian.txt
training_timestamps.6=/home/balaji/ir_cpp/data/classifiers/lang/training/tweetsource/timestamps/hungarian.txt
training_corpus.6=/home/balaji/ir_cpp/data/classifiers/lang/training/tweetsource/corpus/hungarian.txt
training_tweets.6=/home/balaji/ir_cpp/data/classifiers/lang/training/tweetsource/tweets/hungarian.txt
seed.6=/home/balaji/ir_cpp/data/classifiers/lang/training/manual/hungarian.txt
class_name.7=it
class_label.7=it
class_data.7=/home/balaji/ir_cpp/data/classifiers/lang/classes/italian.txt
testing_data.7=/home/balaji/ir_cpp/data/classifiers/lang/testing/italian.txt
testing_timestamps.7=/home/balaji/ir_cpp/data/classifiers/lang/testing/tweetsource/timestamps/italian.txt
testing_corpus.7=/home/balaji/ir_cpp/data/classifiers/lang/testing/tweetsource/corpus/italian.txt
testing_tweets.7=/home/balaji/ir_cpp/data/classifiers/lang/testing/tweetsource/tweets/italian.txt
training_data.7=/home/balaji/ir_cpp/data/classifiers/lang/training/italian.txt
training_handles.7=/home/balaji/ir_cpp/data/classifiers/lang/training/tweetsource/handles/italian.txt
training_timestamps.7=/home/balaji/ir_cpp/data/classifiers/lang/training/tweetsource/timestamps/italian.txt
training_corpus.7=/home/balaji/ir_cpp/data/classifiers/lang/training/tweetsource/corpus/italian.txt
training_tweets.7=/home/balaji/ir_cpp/data/classifiers/lang/training/tweetsource/tweets/italian.txt
seed.7=/home/balaji/ir_cpp/data/classifiers/lang/training/manual/italian.txt
class_name.8=nn
class_label.8=nn
class_data.8=/home/balaji/ir_cpp/data/classifiers/lang/classes/norwegian.txt
testing_data.8=/home/balaji/ir_cpp/data/classifiers/lang/testing/norwegian.txt
testing_timestamps.8=/home/balaji/ir_cpp/data/classifiers/lang/testing/tweetsource/timestamps/norwegian.txt
testing_corpus.8=/home/balaji/ir_cpp/data/classifiers/lang/testing/tweetsource/corpus/norwegian.txt
testing_tweets.8=/home/balaji/ir_cpp/data/classifiers/lang/testing/tweetsource/tweets/notwegian.txt
training_data.8=/home/balaji/ir_cpp/data/classifiers/lang/training/norwegian.txt
training_handles.8=/home/balaji/ir_cpp/data/classifiers/lang/training/tweetsource/handles/norwegian.txt
training_timestamps.8=/home/balaji/ir_cpp/data/classifiers/lang/training/tweetsource/timestamps/norwegian.txt
training_corpus.8=/home/balaji/ir_cpp/data/classifiers/lang/training/tweetsource/corpus/norwegian.txt
training_tweets.8=/home/balaji/ir_cpp/data/classifiers/lang/training/tweetsource/tweets/notwegian.txt
seed.8=/home/balaji/ir_cpp/data/classifiers/lang/training/manual/notwegian.txt
class_name.9=sv
class_label.9=sv
class_data.9=/home/balaji/ir_cpp/data/classifiers/lang/classes/swedish.txt
testing_data.9=/home/balaji/ir_cpp/data/classifiers/lang/testing/swedish.txt
testing_timestamps.9=/home/balaji/ir_cpp/data/classifiers/lang/testing/tweetsource/timestamps/swedish.txt
testing_corpus.9=/home/balaji/ir_cpp/data/classifiers/lang/testing/tweetsource/corpus/swedish.txt
testing_tweets.9=/home/balaji/ir_cpp/data/classifiers/lang/testing/tweetsource/tweets/swedish.txt
training_data.9=/home/balaji/ir_cpp/data/classifiers/lang/training/swedish.txt
training_handles.9=/home/balaji/ir_cpp/data/classifiers/lang/training/tweetsource/handles/swedish.txt
training_timestamps.9=/home/balaji/ir_cpp/data/classifiers/lang/training/tweetsource/timestamps/swedish.txt
training_corpus.9=/home/balaji/ir_cpp/data/classifiers/lang/training/tweetsource/corpus/swedish.txt
training_tweets.9=/home/balaji/ir_cpp/data/classifiers/lang/training/tweetsource/tweets/swedish.txt
seed.9=/home/balaji/ir_cpp/data/classifiers/lang/training/manual/swedish.txt
class_name.10=id
class_label.10=id
class_data.10=/home/balaji/ir_cpp/data/classifiers/lang/classes/indonesian.txt
testing_data.10=/home/balaji/ir_cpp/data/classifiers/lang/testing/indonesian.txt
testing_timestamps.10=/home/balaji/ir_cpp/data/classifiers/lang/testing/tweetsource/timestamps/indonesian.txt
testing_corpus.10=/home/balaji/ir_cpp/data/classifiers/lang/testing/tweetsource/corpus/indonesian.txt
testing_tweets.10=/home/balaji/ir_cpp/data/classifiers/lang/testing/tweetsource/tweets/indonesian.txt
training_data.10=/home/balaji/ir_cpp/data/classifiers/lang/training/indonesian.txt
training_handles.10=/home/balaji/ir_cpp/data/classifiers/lang/training/tweetsource/handles/indonesian.txt
training_timestamps.10=/home/balaji/ir_cpp/data/classifiers/lang/training/tweetsource/timestamps/indonesian.txt
training_corpus.10=/home/balaji/ir_cpp/data/classifiers/lang/training/tweetsource/corpus/indonesian.txt
training_tweets.10=/home/balaji/ir_cpp/data/classifiers/lang/training/tweetsource/tweets/indonesian.txt
seed.10=/home/balaji/ir_cpp/data/classifiers/lang/training/manual/indonesian.txt
class_name.11=ms
class_label.11=ms
class_data.11=/home/balaji/ir_cpp/data/classifiers/lang/classes/malay.txt
testing_data.11=/home/balaji/ir_cpp/data/classifiers/lang/testing/malay.txt
testing_timestamps.11=/home/balaji/ir_cpp/data/classifiers/lang/testing/tweetsource/timestamps/malay.txt
testing_corpus.11=/home/balaji/ir_cpp/data/classifiers/lang/testing/tweetsource/corpus/malay.txt
testing_tweets.11=/home/balaji/ir_cpp/data/classifiers/lang/testing/tweetsource/tweets/malay.txt
training_data.11=/home/balaji/ir_cpp/data/classifiers/lang/training/malay.txt
training_handles.11=/home/balaji/ir_cpp/data/classifiers/lang/training/tweetsource/handles/malay.txt
training_timestamps.11=/home/balaji/ir_cpp/data/classifiers/lang/training/tweetsource/timestamps/malay.txt
training_corpus.11=/home/balaji/ir_cpp/data/classifiers/lang/training/tweetsource/corpus/malay.txt
training_tweets.11=/home/balaji/ir_cpp/data/classifiers/lang/training/tweetsource/tweets/malay.txt
seed.11=/home/balaji/ir_cpp/data/classifiers/lang/training/manual/malay.txt
class_name.12=pl
class_label.12=pl
class_data.12=/home/balaji/ir_cpp/data/classifiers/lang/classes/polish.txt
testing_data.12=/home/balaji/ir_cpp/data/classifiers/lang/testing/polish.txt
testing_timestamps.12=/home/balaji/ir_cpp/data/classifiers/lang/testing/tweetsource/timestamps/polish.txt
testing_corpus.12=/home/balaji/ir_cpp/data/classifiers/lang/testing/tweetsource/corpus/polish.txt
testing_tweets.12=/home/balaji/ir_cpp/data/classifiers/lang/testing/tweetsource/tweets/polish.txt
training_data.12=/home/balaji/ir_cpp/data/classifiers/lang/training/polish.txt
training_handles.12=/home/balaji/ir_cpp/data/classifiers/lang/training/tweetsource/handles/polish.txt
training_timestamps.12=/home/balaji/ir_cpp/data/classifiers/lang/training/tweetsource/timestamps/polish.txt
training_corpus.12=/home/balaji/ir_cpp/data/classifiers/lang/training/tweetsource/corpus/polish.txt
training_tweets.12=/home/balaji/ir_cpp/data/classifiers/lang/training/tweetsource/tweets/polish.txt
seed.12=/home/balaji/ir_cpp/data/classifiers/lang/training/manual/polish.txt
class_name.13=fi
class_label.13=fi
class_data.13=/home/balaji/ir_cpp/data/classifiers/lang/classes/finnish.txt
testing_data.13=/home/balaji/ir_cpp/data/classifiers/lang/testing/finnish.txt
testing_timestamps.13=/home/balaji/ir_cpp/data/classifiers/lang/testing/tweetsource/timestamps/finnish.txt
testing_corpus.13=/home/balaji/ir_cpp/data/classifiers/lang/testing/tweetsource/corpus/finnish.txt
testing_tweets.13=/home/balaji/ir_cpp/data/classifiers/lang/testing/tweetsource/tweets/finnish.txt
training_data.13=/home/balaji/ir_cpp/data/classifiers/lang/training/finnish.txt
training_handles.13=/home/balaji/ir_cpp/data/classifiers/lang/training/tweetsource/handles/finnish.txt
training_timestamps.13=/home/balaji/ir_cpp/data/classifiers/lang/training/tweetsource/timestamps/finnish.txt
training_corpus.13=/home/balaji/ir_cpp/data/classifiers/lang/training/tweetsource/corpus/finnish.txt
training_tweets.13=/home/balaji/ir_cpp/data/classifiers/lang/training/tweetsource/tweets/finnish.txt
seed.13=/home/balaji/ir_cpp/data/classifiers/lang/training/manual/finnish.txt
class_name.14=dk
class_label.14=dk
class_data.14=/home/balaji/ir_cpp/data/classifiers/lang/classes/danish.txt
testing_data.14=/home/balaji/ir_cpp/data/classifiers/lang/testing/danish.txt
testing_timestamps.14=/home/balaji/ir_cpp/data/classifiers/lang/testing/tweetsource/timestamps/danish.txt
testing_corpus.14=/home/balaji/ir_cpp/data/classifiers/lang/testing/tweetsource/corpus/danish.txt
testing_tweets.14=/home/balaji/ir_cpp/data/classifiers/lang/testing/tweetsource/tweets/danish.txt
training_data.14=/home/balaji/ir_cpp/data/classifiers/lang/training/danish.txt
training_handles.14=/home/balaji/ir_cpp/data/classifiers/lang/training/tweetsource/handles/danish.txt
training_timestamps.14=/home/balaji/ir_cpp/data/classifiers/lang/training/tweetsource/timestamps/danish.txt
training_corpus.14=/home/balaji/ir_cpp/data/classifiers/lang/training/tweetsource/corpus/danish.txt
training_tweets.14=/home/balaji/ir_cpp/data/classifiers/lang/training/tweetsource/tweets/danish.txt
seed.14=/home/balaji/ir_cpp/data/classifiers/lang/training/manual/danish.txt
class_name.15=tr
class_label.15=tr
class_data.15=/home/balaji/ir_cpp/data/classifiers/lang/classes/turkish.txt
testing_data.15=/home/balaji/ir_cpp/data/classifiers/lang/testing/turkish.txt
testing_timestamps.15=/home/balaji/ir_cpp/data/classifiers/lang/testing/tweetsource/timestamps/turkish.txt
testing_corpus.15=/home/balaji/ir_cpp/data/classifiers/lang/testing/tweetsource/corpus/turkish.txt
testing_tweets.15=/home/balaji/ir_cpp/data/classifiers/lang/testing/tweetsource/tweets/turkish.txt
training_data.15=/home/balaji/ir_cpp/data/classifiers/lang/training/turkish.txt
training_handles.15=/home/balaji/ir_cpp/data/classifiers/lang/training/tweetsource/handles/turkish.txt
training_timestamps.15=/home/balaji/ir_cpp/data/classifiers/lang/training/tweetsource/timestamps/turkish.txt
training_corpus.15=/home/balaji/ir_cpp/data/classifiers/lang/training/tweetsource/corpus/turkish.txt
training_tweets.15=/home/balaji/ir_cpp/data/classifiers/lang/training/tweetsource/tweets/turkish.txt
seed.15=/home/balaji/ir_cpp/data/classifiers/lang/training/manual/turkish.txt
