class_frequencies=/home/balaji/ir_cpp/data/lang/classes/classes_freq.txt
test_frequencies=/home/balaji/ir_cpp/data/lang/testing/classes_freq.txt
num_classes=16
class_name.0=en
class_label.0=en
class_data.0=/home/balaji/ir_cpp/data/lang/classes/english.txt
testing_data.0=/home/balaji/ir_cpp/data/lang/testing/english.txt
training_data.0=/home/balaji/ir_cpp/data/lang/training/english.txt
handles.0=/home/balaji/ir_cpp/data/lang/training/tweetsource/handles/english.txt
corpus.0=/home/balaji/ir_cpp/data/lang/training/tweetsource/corpus/english.txt
tweets.0=/home/balaji/ir_cpp/data/lang/training/tweetsource/tweets/english.txt
seed.0=/home/balaji/ir_cpp/data/lang/training/manual/english.txt
class_name.1=fr
class_label.1=fr
class_data.1=/home/balaji/ir_cpp/data/lang/classes/french.txt
testing_data.1=/home/balaji/ir_cpp/data/lang/testing/french.txt
training_data.1=/home/balaji/ir_cpp/data/lang/training/french.txt
handles.1=/home/balaji/ir_cpp/data/lang/training/tweetsource/handles/french.txt
corpus.1=/home/balaji/ir_cpp/data/lang/training/tweetsource/corpus/french.txt
tweets.1=/home/balaji/ir_cpp/data/lang/training/tweetsource/tweets/french.txt
seed.1=/home/balaji/ir_cpp/data/lang/training/manual/french.txt
class_name.2=de
class_label.2=de
class_data.2=/home/balaji/ir_cpp/data/lang/classes/german.txt
testing_data.2=/home/balaji/ir_cpp/data/lang/testing/german.txt
training_data.2=/home/balaji/ir_cpp/data/lang/training/german.txt
handles.2=/home/balaji/ir_cpp/data/lang/training/tweetsource/handles/german.txt
corpus.2=/home/balaji/ir_cpp/data/lang/training/tweetsource/corpus/german.txt
tweets.2=/home/balaji/ir_cpp/data/lang/training/tweetsource/tweets/german.txt
seed.2=/home/balaji/ir_cpp/data/lang/training/manual/german.txt
class_name.3=es
class_label.3=es
class_data.3=/home/balaji/ir_cpp/data/lang/classes/spanish.txt
testing_data.3=/home/balaji/ir_cpp/data/lang/testing/spanish.txt
training_data.3=/home/balaji/ir_cpp/data/lang/training/spanish.txt
handles.3=/home/balaji/ir_cpp/data/lang/training/tweetsource/handles/spanish.txt
corpus.3=/home/balaji/ir_cpp/data/lang/training/tweetsource/corpus/spanish.txt
tweets.3=/home/balaji/ir_cpp/data/lang/training/tweetsource/tweets/spanish.txt
seed.3=/home/balaji/ir_cpp/data/lang/training/manual/spanish.txt
class_name.4=pt
class_label.4=pt
class_data.4=/home/balaji/ir_cpp/data/lang/classes/portuguese.txt
testing_data.4=/home/balaji/ir_cpp/data/lang/testing/portuguese.txt
training_data.4=/home/balaji/ir_cpp/data/lang/training/portuguese.txt
handles.4=/home/balaji/ir_cpp/data/lang/training/tweetsource/handles/portuguese.txt
corpus.4=/home/balaji/ir_cpp/data/lang/training/tweetsource/corpus/portuguese.txt
tweets.4=/home/balaji/ir_cpp/data/lang/training/tweetsource/tweets/portuguese.txt
seed.4=/home/balaji/ir_cpp/data/lang/training/manual/portuguese.txt
class_name.5=nl
class_label.5=nl
class_data.5=/home/balaji/ir_cpp/data/lang/classes/dutch.txt
testing_data.5=/home/balaji/ir_cpp/data/lang/testing/dutch.txt
training_data.5=/home/balaji/ir_cpp/data/lang/training/dutch.txt
handles.5=/home/balaji/ir_cpp/data/lang/training/tweetsource/handles/dutch.txt
corpus.5=/home/balaji/ir_cpp/data/lang/training/tweetsource/corpus/dutch.txt
tweets.5=/home/balaji/ir_cpp/data/lang/training/tweetsource/tweets/dutch.txt
seed.5=/home/balaji/ir_cpp/data/lang/training/manual/dutch.txt
class_name.6=hu
class_label.6=hu
class_data.6=/home/balaji/ir_cpp/data/lang/classes/hungarian.txt
testing_data.6=/home/balaji/ir_cpp/data/lang/testing/hungarian.txt
training_data.6=/home/balaji/ir_cpp/data/lang/training/hungarian.txt
handles.6=/home/balaji/ir_cpp/data/lang/training/tweetsource/handles/hungarian.txt
corpus.6=/home/balaji/ir_cpp/data/lang/training/tweetsource/corpus/hungarian.txt
tweets.6=/home/balaji/ir_cpp/data/lang/training/tweetsource/tweets/hungarian.txt
seed.6=/home/balaji/ir_cpp/data/lang/training/manual/hungarian.txt
class_name.7=it
class_label.7=it
class_data.7=/home/balaji/ir_cpp/data/lang/classes/italian.txt
testing_data.7=/home/balaji/ir_cpp/data/lang/testing/italian.txt
training_data.7=/home/balaji/ir_cpp/data/lang/training/italian.txt
handles.7=/home/balaji/ir_cpp/data/lang/training/tweetsource/handles/italian.txt
corpus.7=/home/balaji/ir_cpp/data/lang/training/tweetsource/corpus/italian.txt
tweets.7=/home/balaji/ir_cpp/data/lang/training/tweetsource/tweets/italian.txt
seed.7=/home/balaji/ir_cpp/data/lang/training/manual/italian.txt
class_name.8=nn
class_label.8=nn
class_data.8=/home/balaji/ir_cpp/data/lang/classes/norwegian.txt
testing_data.8=/home/balaji/ir_cpp/data/lang/testing/norwegian.txt
training_data.8=/home/balaji/ir_cpp/data/lang/training/norwegian.txt
handles.8=/home/balaji/ir_cpp/data/lang/training/tweetsource/handles/norwegian.txt
corpus.8=/home/balaji/ir_cpp/data/lang/training/tweetsource/corpus/norwegian.txt
tweets.8=/home/balaji/ir_cpp/data/lang/training/tweetsource/tweets/notwegian.txt
seed.8=/home/balaji/ir_cpp/data/lang/training/manual/notwegian.txt
class_name.9=sv
class_label.9=sv
class_data.9=/home/balaji/ir_cpp/data/lang/classes/swedish.txt
testing_data.9=/home/balaji/ir_cpp/data/lang/testing/swedish.txt
training_data.9=/home/balaji/ir_cpp/data/lang/training/swedish.txt
handles.9=/home/balaji/ir_cpp/data/lang/training/tweetsource/handles/swedish.txt
corpus.9=/home/balaji/ir_cpp/data/lang/training/tweetsource/corpus/swedish.txt
tweets.9=/home/balaji/ir_cpp/data/lang/training/tweetsource/tweets/swedish.txt
seed.9=/home/balaji/ir_cpp/data/lang/training/manual/swedish.txt
class_name.10=id
class_label.10=id
class_data.10=/home/balaji/ir_cpp/data/lang/classes/indonesian.txt
testing_data.10=/home/balaji/ir_cpp/data/lang/testing/indonesian.txt
training_data.10=/home/balaji/ir_cpp/data/lang/training/indonesian.txt
handles.10=/home/balaji/ir_cpp/data/lang/training/tweetsource/handles/indonesian.txt
corpus.10=/home/balaji/ir_cpp/data/lang/training/tweetsource/corpus/indonesian.txt
tweets.10=/home/balaji/ir_cpp/data/lang/training/tweetsource/tweets/indonesian.txt
seed.10=/home/balaji/ir_cpp/data/lang/training/manual/indonesian.txt
class_name.11=ms
class_label.11=ms
class_data.11=/home/balaji/ir_cpp/data/lang/classes/malay.txt
testing_data.11=/home/balaji/ir_cpp/data/lang/testing/malay.txt
training_data.11=/home/balaji/ir_cpp/data/lang/training/malay.txt
handles.11=/home/balaji/ir_cpp/data/lang/training/tweetsource/handles/malay.txt
corpus.11=/home/balaji/ir_cpp/data/lang/training/tweetsource/corpus/malay.txt
tweets.11=/home/balaji/ir_cpp/data/lang/training/tweetsource/tweets/malay.txt
seed.11=/home/balaji/ir_cpp/data/lang/training/manual/malay.txt
class_name.12=pl
class_label.12=pl
class_data.12=/home/balaji/ir_cpp/data/lang/classes/polish.txt
testing_data.12=/home/balaji/ir_cpp/data/lang/testing/polish.txt
training_data.12=/home/balaji/ir_cpp/data/lang/training/polish.txt
handles.12=/home/balaji/ir_cpp/data/lang/training/tweetsource/handles/polish.txt
corpus.12=/home/balaji/ir_cpp/data/lang/training/tweetsource/corpus/polish.txt
tweets.12=/home/balaji/ir_cpp/data/lang/training/tweetsource/tweets/polish.txt
seed.12=/home/balaji/ir_cpp/data/lang/training/manual/polish.txt
class_name.13=fi
class_label.13=fi
class_data.13=/home/balaji/ir_cpp/data/lang/classes/finnish.txt
testing_data.13=/home/balaji/ir_cpp/data/lang/testing/finnish.txt
training_data.13=/home/balaji/ir_cpp/data/lang/training/finnish.txt
handles.13=/home/balaji/ir_cpp/data/lang/training/tweetsource/handles/finnish.txt
corpus.13=/home/balaji/ir_cpp/data/lang/training/tweetsource/corpus/finnish.txt
tweets.13=/home/balaji/ir_cpp/data/lang/training/tweetsource/tweets/finnish.txt
seed.13=/home/balaji/ir_cpp/data/lang/training/manual/finnish.txt
class_name.14=dk
class_label.14=dk
class_data.14=/home/balaji/ir_cpp/data/lang/classes/danish.txt
testing_data.14=/home/balaji/ir_cpp/data/lang/testing/danish.txt
training_data.14=/home/balaji/ir_cpp/data/lang/training/danish.txt
handles.14=/home/balaji/ir_cpp/data/lang/training/tweetsource/handles/danish.txt
corpus.14=/home/balaji/ir_cpp/data/lang/training/tweetsource/corpus/danish.txt
tweets.14=/home/balaji/ir_cpp/data/lang/training/tweetsource/tweets/danish.txt
seed.14=/home/balaji/ir_cpp/data/lang/training/manual/danish.txt
class_name.15=tr
class_label.15=tr
class_data.15=/home/balaji/ir_cpp/data/lang/classes/turkish.txt
testing_data.15=/home/balaji/ir_cpp/data/lang/testing/turkish.txt
training_data.15=/home/balaji/ir_cpp/data/lang/training/turkish.txt
handles.15=/home/balaji/ir_cpp/data/lang/training/tweetsource/handles/turkish.txt
corpus.15=/home/balaji/ir_cpp/data/lang/training/tweetsource/corpus/turkish.txt
tweets.15=/home/balaji/ir_cpp/data/lang/training/tweetsource/tweets/turkish.txt
seed.15=/home/balaji/ir_cpp/data/lang/training/manual/turkish.txt

