class_frequencies=/home/balaji/ir_cpp/data/classifiers/channels/classes/classes_freq.txt
test_frequencies=/home/balaji/ir_cpp/data/classifiers/channels/testing/classes_freq.txt
num_classes=10
class_name.0=australiagist
class_label.0=Australia
class_data.0=/home/balaji/ir_cpp/data/classifiers/channels/classes/australiagist.txt
testing_data.0=/home/balaji/ir_cpp/data/classifiers/channels/testing/australiagist.txt
training_data.0=/home/balaji/ir_cpp/data/classifiers/channels/training/australiagist.txt
handles.0=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/handles/australiagist.txt
corpus.0=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/corpus/australiagist.txt
tweets.0=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/tweets/australiagist.txt
seed.0=/home/balaji/ir_cpp/data/classifiers/channels/training/manual/australiagist.txt
class_name.1=bayareagist
class_label.1=Bay Area
class_data.1=/home/balaji/ir_cpp/data/classifiers/channels/classes/bayareagist.txt
testing_data.1=/home/balaji/ir_cpp/data/classifiers/channels/testing/bayareagist.txt
training_data.1=/home/balaji/ir_cpp/data/classifiers/channels/training/bayareagist.txt
handles.1=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/handles/bayareagist.txt
corpus.1=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/corpus/bayareagist.txt
tweets.1=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/tweets/bayareagist.txt
seed.1=/home/balaji/ir_cpp/data/classifiers/channels/training/manual/bayareagist.txt
class_name.2=francegist
class_label.2=France
class_data.2=/home/balaji/ir_cpp/data/classifiers/channels/classes/francegist.txt
testing_data.2=/home/balaji/ir_cpp/data/classifiers/channels/testing/francegist.txt
training_data.2=/home/balaji/ir_cpp/data/classifiers/channels/training/francegist.txt
handles.2=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/handles/francegist.txt
corpus.2=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/corpus/francegist.txt
tweets.2=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/tweets/francegist.txt
seed.2=/home/balaji/ir_cpp/data/classifiers/channels/training/manual/francegist.txt
class_name.3=indiagist
class_label.3=India
class_data.3=/home/balaji/ir_cpp/data/classifiers/channels/classes/indiagist.txt
testing_data.3=/home/balaji/ir_cpp/data/classifiers/channels/testing/indiagist.txt
training_data.3=/home/balaji/ir_cpp/data/classifiers/channels/training/indiagist.txt
handles.3=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/handles/indiagist.txt
corpus.3=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/corpus/indiagist.txt
tweets.3=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/tweets/indiagist.txt
seed.3=/home/balaji/ir_cpp/data/classifiers/channels/training/manual/indiagist.txt
class_name.4=indonesiagist
class_label.4=Indonesia
class_data.4=/home/balaji/ir_cpp/data/classifiers/channels/classes/indonesiagist.txt
testing_data.4=/home/balaji/ir_cpp/data/classifiers/channels/testing/indonesiagist.txt
training_data.4=/home/balaji/ir_cpp/data/classifiers/channels/training/indonesiagist.txt
handles.4=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/handles/indonesiagist.txt
corpus.4=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/corpus/indonesiagist.txt
tweets.4=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/tweets/indonesiagist.txt
seed.4=/home/balaji/ir_cpp/data/classifiers/channels/training/manual/indonesiagist.txt
class_name.5=londongist
class_label.5=London
class_data.5=/home/balaji/ir_cpp/data/classifiers/channels/classes/londongist.txt
testing_data.5=/home/balaji/ir_cpp/data/classifiers/channels/testing/londongist.txt
training_data.5=/home/balaji/ir_cpp/data/classifiers/channels/training/londongist.txt
handles.5=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/handles/londongist.txt
corpus.5=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/corpus/londongist.txt
tweets.5=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/tweets/londongist.txt
seed.5=/home/balaji/ir_cpp/data/classifiers/channels/training/manual/londongist.txt
class_name.6=malaygist
class_label.6=Malaysia
class_data.6=/home/balaji/ir_cpp/data/classifiers/channels/classes/malaygist.txt
testing_data.6=/home/balaji/ir_cpp/data/classifiers/channels/testing/malaygist.txt
training_data.6=/home/balaji/ir_cpp/data/classifiers/channels/training/malaygist.txt
handles.6=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/handles/malaygist.txt
corpus.6=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/corpus/malaygist.txt
tweets.6=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/tweets/malaygist.txt
seed.6=/home/balaji/ir_cpp/data/classifiers/channels/training/manual/malaygist.txt
class_name.7=nygist
class_label.7=New York
class_data.7=/home/balaji/ir_cpp/data/classifiers/channels/classes/nygist.txt
testing_data.7=/home/balaji/ir_cpp/data/classifiers/channels/testing/nygist.txt
training_data.7=/home/balaji/ir_cpp/data/classifiers/channels/training/nygist.txt
handles.7=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/handles/nygist.txt
corpus.7=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/corpus/nygist.txt
tweets.7=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/tweets/nygist.txt
seed.7=/home/balaji/ir_cpp/data/classifiers/channels/training/manual/nygist.txt
class_name.8=sporegist
class_label.8=Singapore
class_data.8=/home/balaji/ir_cpp/data/classifiers/channels/classes/sporegist.txt
testing_data.8=/home/balaji/ir_cpp/data/classifiers/channels/testing/sporegist.txt
training_data.8=/home/balaji/ir_cpp/data/classifiers/channels/training/sporegist.txt
handles.8=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/handles/sporegist.txt
corpus.8=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/corpus/sporegist.txt
tweets.8=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/tweets/sporegist.txt
seed.8=/home/balaji/ir_cpp/data/classifiers/channels/training/manual/sporegist.txt
class_name.9=testa19
class_label.9=Philippines
class_data.9=/home/balaji/ir_cpp/data/classifiers/channels/classes/testa19.txt
testing_data.9=/home/balaji/ir_cpp/data/classifiers/channels/testing/testa19.txt
training_data.9=/home/balaji/ir_cpp/data/classifiers/channels/training/testa19.txt
handles.9=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/handles/testa19.txt
corpus.9=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/corpus/testa19.txt
tweets.9=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/tweets/testa19.txt
seed.9=/home/balaji/ir_cpp/data/classifiers/channels/training/manual/testa19.txt
