class_frequencies=/home/balaji/ir_cpp/data/classifiers/location/classes/classes_freq.txt
test_frequencies=/home/balaji/ir_cpp/data/classifiers/location/testing/classes_freq.txt
num_classes=10
class_name.0=australiagist
class_label.0=Australia
class_data.0=/home/balaji/ir_cpp/data/classifiers/location/classes/australiagist.txt
training_data.0=/home/balaji/ir_cpp/data/classifiers/location/training/australiagist.txt
testing_corpus.0=/home/balaji/ir_cpp/data/classifiers/location/testing/tweetsource/corpus/australiagist.txt
testing_data.0=/home/balaji/ir_cpp/data/classifiers/location/testing/australiagist.txt
testing_timestamps.0=/home/balaji/ir_cpp/data/classifiers/location/testing/tweetsource/timestamps/australiagist.txt
testing_tweets.0=/home/balaji/ir_cpp/data/classifiers/location/testing/tweetsource/tweets/australiagist.txt
training_corpus.0=/home/balaji/ir_cpp/data/classifiers/location/training/tweetsource/corpus/australiagist.txt
training_handles.0=/home/balaji/ir_cpp/data/classifiers/location/training/tweetsource/handles/australiagist.txt
training_timestamps.0=/home/balaji/ir_cpp/data/classifiers/location/training/tweetsource/timestamps/australiagist.txt
training_tweets.0=/home/balaji/ir_cpp/data/classifiers/location/training/tweetsource/tweets/australiagist.txt
seed.0=/home/balaji/ir_cpp/data/classifiers/location/training/manual/australiagist.txt
class_name.1=bayareagist
class_label.1=Bay Area
class_data.1=/home/balaji/ir_cpp/data/classifiers/location/classes/bayareagist.txt
training_data.1=/home/balaji/ir_cpp/data/classifiers/location/training/bayareagist.txt
testing_corpus.1=/home/balaji/ir_cpp/data/classifiers/location/testing/tweetsource/corpus/bayareagist.txt
testing_data.1=/home/balaji/ir_cpp/data/classifiers/location/testing/bayareagist.txt
testing_timestamps.1=/home/balaji/ir_cpp/data/classifiers/location/testing/tweetsource/timestamps/bayareagist.txt
testing_tweets.1=/home/balaji/ir_cpp/data/classifiers/location/testing/tweetsource/tweets/bayareagist.txt
training_corpus.1=/home/balaji/ir_cpp/data/classifiers/location/training/tweetsource/corpus/bayareagist.txt
training_handles.1=/home/balaji/ir_cpp/data/classifiers/location/training/tweetsource/handles/bayareagist.txt
training_timestamps.1=/home/balaji/ir_cpp/data/classifiers/location/training/tweetsource/timestamps/bayareagist.txt
training_tweets.1=/home/balaji/ir_cpp/data/classifiers/location/training/tweetsource/tweets/bayareagist.txt
seed.1=/home/balaji/ir_cpp/data/classifiers/location/training/manual/bayareagist.txt
class_name.2=francegist
class_label.2=France
class_data.2=/home/balaji/ir_cpp/data/classifiers/location/classes/francegist.txt
training_data.2=/home/balaji/ir_cpp/data/classifiers/location/training/francegist.txt
testing_corpus.2=/home/balaji/ir_cpp/data/classifiers/location/testing/tweetsource/corpus/francegist.txt
testing_data.2=/home/balaji/ir_cpp/data/classifiers/location/testing/francegist.txt
testing_timestamps.2=/home/balaji/ir_cpp/data/classifiers/location/testing/tweetsource/timestamps/francegist.txt
testing_tweets.2=/home/balaji/ir_cpp/data/classifiers/location/testing/tweetsource/tweets/francegist.txt
training_corpus.2=/home/balaji/ir_cpp/data/classifiers/location/training/tweetsource/corpus/francegist.txt
training_handles.2=/home/balaji/ir_cpp/data/classifiers/location/training/tweetsource/handles/francegist.txt
training_timestamps.2=/home/balaji/ir_cpp/data/classifiers/location/training/tweetsource/timestamps/francegist.txt
training_tweets.2=/home/balaji/ir_cpp/data/classifiers/location/training/tweetsource/tweets/francegist.txt
seed.2=/home/balaji/ir_cpp/data/classifiers/location/training/manual/francegist.txt
class_name.3=indiagist
class_label.3=India
class_data.3=/home/balaji/ir_cpp/data/classifiers/location/classes/indiagist.txt
training_data.3=/home/balaji/ir_cpp/data/classifiers/location/training/indiagist.txt
testing_corpus.3=/home/balaji/ir_cpp/data/classifiers/location/testing/tweetsource/corpus/indiagist.txt
testing_data.3=/home/balaji/ir_cpp/data/classifiers/location/testing/indiagist.txt
testing_timestamps.3=/home/balaji/ir_cpp/data/classifiers/location/testing/tweetsource/timestamps/indiagist.txt
testing_tweets.3=/home/balaji/ir_cpp/data/classifiers/location/testing/tweetsource/tweets/indiagist.txt
training_corpus.3=/home/balaji/ir_cpp/data/classifiers/location/training/tweetsource/corpus/indiagist.txt
training_handles.3=/home/balaji/ir_cpp/data/classifiers/location/training/tweetsource/handles/indiagist.txt
training_timestamps.3=/home/balaji/ir_cpp/data/classifiers/location/training/tweetsource/timestamps/indiagist.txt
training_tweets.3=/home/balaji/ir_cpp/data/classifiers/location/training/tweetsource/tweets/indiagist.txt
seed.3=/home/balaji/ir_cpp/data/classifiers/location/training/manual/indiagist.txt
class_name.4=indonesiagist
class_label.4=Indonesia
class_data.4=/home/balaji/ir_cpp/data/classifiers/location/classes/indonesiagist.txt
training_data.4=/home/balaji/ir_cpp/data/classifiers/location/training/indonesiagist.txt
testing_corpus.4=/home/balaji/ir_cpp/data/classifiers/location/testing/tweetsource/corpus/indonesiagist.txt
testing_data.4=/home/balaji/ir_cpp/data/classifiers/location/testing/indonesiagist.txt
testing_timestamps.4=/home/balaji/ir_cpp/data/classifiers/location/testing/tweetsource/timestamps/indonesiagist.txt
testing_tweets.4=/home/balaji/ir_cpp/data/classifiers/location/testing/tweetsource/tweets/indonesiagist.txt
training_corpus.4=/home/balaji/ir_cpp/data/classifiers/location/training/tweetsource/corpus/indonesiagist.txt
training_handles.4=/home/balaji/ir_cpp/data/classifiers/location/training/tweetsource/handles/indonesiagist.txt
training_timestamps.4=/home/balaji/ir_cpp/data/classifiers/location/training/tweetsource/timestamps/indonesiagist.txt
training_tweets.4=/home/balaji/ir_cpp/data/classifiers/location/training/tweetsource/tweets/indonesiagist.txt
seed.4=/home/balaji/ir_cpp/data/classifiers/location/training/manual/indonesiagist.txt
class_name.5=londongist
class_label.5=London
class_data.5=/home/balaji/ir_cpp/data/classifiers/location/classes/londongist.txt
training_data.5=/home/balaji/ir_cpp/data/classifiers/location/training/londongist.txt
testing_corpus.5=/home/balaji/ir_cpp/data/classifiers/location/testing/tweetsource/corpus/londongist.txt
testing_data.5=/home/balaji/ir_cpp/data/classifiers/location/testing/londongist.txt
testing_timestamps.5=/home/balaji/ir_cpp/data/classifiers/location/testing/tweetsource/timestamps/londongist.txt
testing_tweets.5=/home/balaji/ir_cpp/data/classifiers/location/testing/tweetsource/tweets/londongist.txt
training_corpus.5=/home/balaji/ir_cpp/data/classifiers/location/training/tweetsource/corpus/londongist.txt
training_handles.5=/home/balaji/ir_cpp/data/classifiers/location/training/tweetsource/handles/londongist.txt
training_timestamps.5=/home/balaji/ir_cpp/data/classifiers/location/training/tweetsource/timestamps/londongist.txt
training_tweets.5=/home/balaji/ir_cpp/data/classifiers/location/training/tweetsource/tweets/londongist.txt
seed.5=/home/balaji/ir_cpp/data/classifiers/location/training/manual/londongist.txt
class_name.6=malaygist
class_label.6=Malaysia
class_data.6=/home/balaji/ir_cpp/data/classifiers/location/classes/malaygist.txt
training_data.6=/home/balaji/ir_cpp/data/classifiers/location/training/malaygist.txt
testing_corpus.6=/home/balaji/ir_cpp/data/classifiers/location/testing/tweetsource/corpus/malaygist.txt
testing_data.6=/home/balaji/ir_cpp/data/classifiers/location/testing/malaygist.txt
testing_timestamps.6=/home/balaji/ir_cpp/data/classifiers/location/testing/tweetsource/timestamps/malaygist.txt
testing_tweets.6=/home/balaji/ir_cpp/data/classifiers/location/testing/tweetsource/tweets/malaygist.txt
training_corpus.6=/home/balaji/ir_cpp/data/classifiers/location/training/tweetsource/corpus/malaygist.txt
training_handles.6=/home/balaji/ir_cpp/data/classifiers/location/training/tweetsource/handles/malaygist.txt
training_timestamps.6=/home/balaji/ir_cpp/data/classifiers/location/training/tweetsource/timestamps/malaygist.txt
training_tweets.6=/home/balaji/ir_cpp/data/classifiers/location/training/tweetsource/tweets/malaygist.txt
seed.6=/home/balaji/ir_cpp/data/classifiers/location/training/manual/malaygist.txt
class_name.7=nygist
class_label.7=New York
class_data.7=/home/balaji/ir_cpp/data/classifiers/location/classes/nygist.txt
training_data.7=/home/balaji/ir_cpp/data/classifiers/location/training/nygist.txt
testing_corpus.7=/home/balaji/ir_cpp/data/classifiers/location/testing/tweetsource/corpus/nygist.txt
testing_data.7=/home/balaji/ir_cpp/data/classifiers/location/testing/nygist.txt
testing_timestamps.7=/home/balaji/ir_cpp/data/classifiers/location/testing/tweetsource/timestamps/nygist.txt
testing_tweets.7=/home/balaji/ir_cpp/data/classifiers/location/testing/tweetsource/tweets/nygist.txt
training_corpus.7=/home/balaji/ir_cpp/data/classifiers/location/training/tweetsource/corpus/nygist.txt
training_handles.7=/home/balaji/ir_cpp/data/classifiers/location/training/tweetsource/handles/nygist.txt
training_timestamps.7=/home/balaji/ir_cpp/data/classifiers/location/training/tweetsource/timestamps/nygist.txt
training_tweets.7=/home/balaji/ir_cpp/data/classifiers/location/training/tweetsource/tweets/nygist.txt
seed.7=/home/balaji/ir_cpp/data/classifiers/location/training/manual/nygist.txt
class_name.8=sporegist
class_label.8=Singapore
class_data.8=/home/balaji/ir_cpp/data/classifiers/location/classes/sporegist.txt
training_data.8=/home/balaji/ir_cpp/data/classifiers/location/training/sporegist.txt
testing_corpus.8=/home/balaji/ir_cpp/data/classifiers/location/testing/tweetsource/corpus/sporegist.txt
testing_data.8=/home/balaji/ir_cpp/data/classifiers/location/testing/sporegist.txt
testing_timestamps.8=/home/balaji/ir_cpp/data/classifiers/location/testing/tweetsource/timestamps/sporegist.txt
testing_tweets.8=/home/balaji/ir_cpp/data/classifiers/location/testing/tweetsource/tweets/sporegist.txt
training_corpus.8=/home/balaji/ir_cpp/data/classifiers/location/training/tweetsource/corpus/sporegist.txt
training_handles.8=/home/balaji/ir_cpp/data/classifiers/location/training/tweetsource/handles/sporegist.txt
training_timestamps.8=/home/balaji/ir_cpp/data/classifiers/location/training/tweetsource/timestamps/sporegist.txt
training_tweets.8=/home/balaji/ir_cpp/data/classifiers/location/training/tweetsource/tweets/sporegist.txt
seed.8=/home/balaji/ir_cpp/data/classifiers/location/training/manual/sporegist.txt
class_name.9=testa19
class_label.9=Philippines
class_data.9=/home/balaji/ir_cpp/data/classifiers/location/classes/testa19.txt
training_data.9=/home/balaji/ir_cpp/data/classifiers/location/training/testa19.txt
testing_corpus.9=/home/balaji/ir_cpp/data/classifiers/location/testing/tweetsource/corpus/testa19.txt
testing_data.9=/home/balaji/ir_cpp/data/classifiers/location/testing/testa19.txt
testing_timestamps.9=/home/balaji/ir_cpp/data/classifiers/location/testing/tweetsource/timestamps/testa19.txt
testing_tweets.9=/home/balaji/ir_cpp/data/classifiers/location/testing/tweetsource/tweets/testa19.txt
training_corpus.9=/home/balaji/ir_cpp/data/classifiers/location/training/tweetsource/corpus/testa19.txt
training_handles.9=/home/balaji/ir_cpp/data/classifiers/location/training/tweetsource/handles/testa19.txt
training_timestamps.9=/home/balaji/ir_cpp/data/classifiers/location/training/tweetsource/timestamps/testa19.txt
training_tweets.9=/home/balaji/ir_cpp/data/classifiers/location/training/tweetsource/tweets/testa19.txt
seed.9=/home/balaji/ir_cpp/data/classifiers/location/training/manual/testa19.txt
