testdata=/home/balaji/ir_cpp/data/lang/test/classes_freq.txt
class.0=en
trainingdata.0=/home/balaji/ir_cpp/data/lang/training/english.txt
handles.0=/home/balaji/ir_cpp/data/lang/tweetsource/handles/english.txt
corpus.0=/home/balaji/ir_cpp/data/lang/tweetsource/corpus/english.txt
tweets.0=/home/balaji/ir_cpp/data/lang/tweetsource/tweets/english.txt
