class_frequencies=/home/balaji/ir_cpp/data/classifiers/test/classes/classes_freq.txt
test_frequencies=/home/balaji/ir_cpp/data/classifiers/test/testing/classes_freq.txt
num_classes=4
class_name.0=beergist
class_label.0=IAB8-5 Beer
class_data.0=/home/balaji/ir_cpp/data/classifiers/test/classes/beergist.txt
testing_data.0=/home/balaji/ir_cpp/data/classifiers/test/testing/beergist.txt
testing_timestamps.0=/home/balaji/ir_cpp/data/classifiers/test/testing/tweetsource/timestamps/beergist.txt
testing_corpus.0=/home/balaji/ir_cpp/data/classifiers/test/testing/tweetsource/corpus/beergist.txt
testing_tweets.0=/home/balaji/ir_cpp/data/classifiers/test/testing/tweetsource/tweets/beergist.txt
training_data.0=/home/balaji/ir_cpp/data/classifiers/test/training/beergist.txt
training_handles.0=/home/balaji/ir_cpp/data/classifiers/test/training/tweetsource/handles/beergist.txt
training_timestamps.0=/home/balaji/ir_cpp/data/classifiers/test/training/tweetsource/timestamps/beergist.txt
training_corpus.0=/home/balaji/ir_cpp/data/classifiers/test/training/tweetsource/corpus/beergist.txt
training_tweets.0=/home/balaji/ir_cpp/data/classifiers/test/training/tweetsource/tweets/beergist.txt
seed.0=/home/balaji/ir_cpp/data/classifiers/test/training/manual/beergist.txt
class_name.1=cricketgist
class_label.1=IAB17-9 Cricket
class_data.1=/home/balaji/ir_cpp/data/classifiers/test/classes/cricketgist.txt
testing_data.1=/home/balaji/ir_cpp/data/classifiers/test/testing/cricketgist.txt
testing_timestamps.1=/home/balaji/ir_cpp/data/classifiers/test/testing/tweetsource/timestamps/cricketgist.txt
testing_corpus.1=/home/balaji/ir_cpp/data/classifiers/test/testing/tweetsource/corpus/cricketgist.txt
testing_tweets.1=/home/balaji/ir_cpp/data/classifiers/test/testing/tweetsource/tweets/cricketgist.txt
training_data.1=/home/balaji/ir_cpp/data/classifiers/test/training/cricketgist.txt
training_handles.1=/home/balaji/ir_cpp/data/classifiers/test/training/tweetsource/handles/cricketgist.txt
training_timestamps.1=/home/balaji/ir_cpp/data/classifiers/test/training/tweetsource/timestamps/cricketgist.txt
training_corpus.1=/home/balaji/ir_cpp/data/classifiers/test/training/tweetsource/corpus/cricketgist.txt
training_tweets.1=/home/balaji/ir_cpp/data/classifiers/test/training/tweetsource/tweets/cricketgist.txt
seed.1=/home/balaji/ir_cpp/data/classifiers/test/training/manual/cricketgist.txt
class_name.2=foodgist
class_label.2=IAB8 Food and Drink
class_data.2=/home/balaji/ir_cpp/data/classifiers/test/classes/foodgist.txt
testing_data.2=/home/balaji/ir_cpp/data/classifiers/test/testing/foodgist.txt
testing_timestamps.2=/home/balaji/ir_cpp/data/classifiers/test/testing/tweetsource/timestamps/foodgist.txt
testing_corpus.2=/home/balaji/ir_cpp/data/classifiers/test/testing/tweetsource/corpus/foodgist.txt
testing_tweets.2=/home/balaji/ir_cpp/data/classifiers/test/testing/tweetsource/tweets/foodgist.txt
training_data.2=/home/balaji/ir_cpp/data/classifiers/test/training/foodgist.txt
training_handles.2=/home/balaji/ir_cpp/data/classifiers/test/training/tweetsource/handles/foodgist.txt
training_timestamps.2=/home/balaji/ir_cpp/data/classifiers/test/training/tweetsource/timestamps/foodgist.txt
training_corpus.2=/home/balaji/ir_cpp/data/classifiers/test/training/tweetsource/corpus/foodgist.txt
training_tweets.2=/home/balaji/ir_cpp/data/classifiers/test/training/tweetsource/tweets/foodgist.txt
seed.2=/home/balaji/ir_cpp/data/classifiers/test/training/manual/foodgist.txt
class_name.3=worldnewsgist
class_label.3=IAB12-1 International News
class_data.3=/home/balaji/ir_cpp/data/classifiers/test/classes/worldnewsgist.txt
testing_data.3=/home/balaji/ir_cpp/data/classifiers/test/testing/worldnewsgist.txt
testing_timestamps.3=/home/balaji/ir_cpp/data/classifiers/test/testing/tweetsource/timestamps/worldnewsgist.txt
testing_corpus.3=/home/balaji/ir_cpp/data/classifiers/test/testing/tweetsource/corpus/worldnewsgist.txt
testing_tweets.3=/home/balaji/ir_cpp/data/classifiers/test/testing/tweetsource/tweets/worldnewsgist.txt
training_data.3=/home/balaji/ir_cpp/data/classifiers/test/training/worldnewsgist.txt
training_handles.3=/home/balaji/ir_cpp/data/classifiers/test/training/tweetsource/handles/worldnewsgist.txt
training_timestamps.3=/home/balaji/ir_cpp/data/classifiers/test/training/tweetsource/timestamps/worldnewsgist.txt
training_corpus.3=/home/balaji/ir_cpp/data/classifiers/test/training/tweetsource/corpus/worldnewsgist.txt
training_tweets.3=/home/balaji/ir_cpp/data/classifiers/test/training/tweetsource/tweets/worldnewsgist.txt
seed.3=/home/balaji/ir_cpp/data/classifiers/test/training/manual/worldnewsgist.txt
