class_frequencies=/home/balaji/ir_cpp/data/classifiers/channels/classes/classes_freq.txt
test_frequencies=/home/balaji/ir_cpp/data/classifiers/channels/testing/classes_freq.txt
num_classes=34
class_name.0=airlinesgist
class_label.0=Airlines
class_data.0=/home/balaji/ir_cpp/data/classifiers/channels/classes/airlinesgist.txt
training_data.0=/home/balaji/ir_cpp/data/classifiers/channels/training/airlinesgist.txt
testing_corpus.0=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/corpus/airlinesgist.txt
testing_data.0=/home/balaji/ir_cpp/data/classifiers/channels/testing/airlinesgist.txt
testing_handles.0=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/handles/airlinesgist.txt
testing_tweets.0=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/tweets/airlinesgist.txt
training_corpus.0=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/corpus/airlinesgist.txt
training_handles.0=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/handles/airlinesgist.txt
training_tweets.0=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/tweets/airlinesgist.txt
seed.0=/home/balaji/ir_cpp/data/classifiers/channels/training/manual/airlinesgist.txt
class_name.1=airportsgist
class_label.1=Airports
class_data.1=/home/balaji/ir_cpp/data/classifiers/channels/classes/airportsgist.txt
training_data.1=/home/balaji/ir_cpp/data/classifiers/channels/training/airportsgist.txt
testing_corpus.1=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/corpus/airportsgist.txt
testing_data.1=/home/balaji/ir_cpp/data/classifiers/channels/testing/airportsgist.txt
testing_handles.1=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/handles/airportsgist.txt
testing_tweets.1=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/tweets/airportsgist.txt
training_corpus.1=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/corpus/airportsgist.txt
training_handles.1=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/handles/airportsgist.txt
training_tweets.1=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/tweets/airportsgist.txt
seed.1=/home/balaji/ir_cpp/data/classifiers/channels/training/manual/airportsgist.txt
class_name.2=astrogist
class_label.2=Astronomy
class_data.2=/home/balaji/ir_cpp/data/classifiers/channels/classes/astrogist.txt
training_data.2=/home/balaji/ir_cpp/data/classifiers/channels/training/astrogist.txt
testing_corpus.2=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/corpus/astrogist.txt
testing_data.2=/home/balaji/ir_cpp/data/classifiers/channels/testing/astrogist.txt
testing_handles.2=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/handles/astrogist.txt
testing_tweets.2=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/tweets/astrogist.txt
training_corpus.2=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/corpus/astrogist.txt
training_handles.2=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/handles/astrogist.txt
training_tweets.2=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/tweets/astrogist.txt
seed.2=/home/balaji/ir_cpp/data/classifiers/channels/training/manual/astrogist.txt
class_name.3=bollygist
class_label.3=Bollywood
class_data.3=/home/balaji/ir_cpp/data/classifiers/channels/classes/bollygist.txt
training_data.3=/home/balaji/ir_cpp/data/classifiers/channels/training/bollygist.txt
testing_corpus.3=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/corpus/bollygist.txt
testing_data.3=/home/balaji/ir_cpp/data/classifiers/channels/testing/bollygist.txt
testing_handles.3=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/handles/bollygist.txt
testing_tweets.3=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/tweets/bollygist.txt
training_corpus.3=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/corpus/bollygist.txt
training_handles.3=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/handles/bollygist.txt
training_tweets.3=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/tweets/bollygist.txt
seed.3=/home/balaji/ir_cpp/data/classifiers/channels/training/manual/bollygist.txt
class_name.4=booksgist
class_label.4=Books
class_data.4=/home/balaji/ir_cpp/data/classifiers/channels/classes/booksgist.txt
training_data.4=/home/balaji/ir_cpp/data/classifiers/channels/training/booksgist.txt
testing_corpus.4=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/corpus/booksgist.txt
testing_data.4=/home/balaji/ir_cpp/data/classifiers/channels/testing/booksgist.txt
testing_handles.4=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/handles/booksgist.txt
testing_tweets.4=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/tweets/booksgist.txt
training_corpus.4=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/corpus/booksgist.txt
training_handles.4=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/handles/booksgist.txt
training_tweets.4=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/tweets/booksgist.txt
seed.4=/home/balaji/ir_cpp/data/classifiers/channels/training/manual/booksgist.txt
class_name.5=btgist
class_label.5=Tech
class_data.5=/home/balaji/ir_cpp/data/classifiers/channels/classes/btgist.txt
training_data.5=/home/balaji/ir_cpp/data/classifiers/channels/training/btgist.txt
testing_corpus.5=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/corpus/btgist.txt
testing_data.5=/home/balaji/ir_cpp/data/classifiers/channels/testing/btgist.txt
testing_handles.5=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/handles/btgist.txt
testing_tweets.5=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/tweets/btgist.txt
training_corpus.5=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/corpus/btgist.txt
training_handles.5=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/handles/btgist.txt
training_tweets.5=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/tweets/btgist.txt
seed.5=/home/balaji/ir_cpp/data/classifiers/channels/training/manual/btgist.txt
class_name.6=cancergist
class_label.6=Cancer
class_data.6=/home/balaji/ir_cpp/data/classifiers/channels/classes/cancergist.txt
training_data.6=/home/balaji/ir_cpp/data/classifiers/channels/training/cancergist.txt
testing_corpus.6=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/corpus/cancergist.txt
testing_data.6=/home/balaji/ir_cpp/data/classifiers/channels/testing/cancergist.txt
testing_handles.6=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/handles/cancergist.txt
testing_tweets.6=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/tweets/cancergist.txt
training_corpus.6=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/corpus/cancergist.txt
training_handles.6=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/handles/cancergist.txt
training_tweets.6=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/tweets/cancergist.txt
seed.6=/home/balaji/ir_cpp/data/classifiers/channels/training/manual/cancergist.txt
class_name.7=cricketgist
class_label.7=Cricket
class_data.7=/home/balaji/ir_cpp/data/classifiers/channels/classes/cricketgist.txt
training_data.7=/home/balaji/ir_cpp/data/classifiers/channels/training/cricketgist.txt
testing_corpus.7=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/corpus/cricketgist.txt
testing_data.7=/home/balaji/ir_cpp/data/classifiers/channels/testing/cricketgist.txt
testing_handles.7=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/handles/cricketgist.txt
testing_tweets.7=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/tweets/cricketgist.txt
training_corpus.7=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/corpus/cricketgist.txt
training_handles.7=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/handles/cricketgist.txt
training_tweets.7=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/tweets/cricketgist.txt
seed.7=/home/balaji/ir_cpp/data/classifiers/channels/training/manual/cricketgist.txt
class_name.8=custcaregist
class_label.8=Cust Care
class_data.8=/home/balaji/ir_cpp/data/classifiers/channels/classes/custcaregist.txt
training_data.8=/home/balaji/ir_cpp/data/classifiers/channels/training/custcaregist.txt
testing_corpus.8=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/corpus/custcaregist.txt
testing_data.8=/home/balaji/ir_cpp/data/classifiers/channels/testing/custcaregist.txt
testing_handles.8=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/handles/custcaregist.txt
testing_tweets.8=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/tweets/custcaregist.txt
training_corpus.8=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/corpus/custcaregist.txt
training_handles.8=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/handles/custcaregist.txt
training_tweets.8=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/tweets/custcaregist.txt
seed.8=/home/balaji/ir_cpp/data/classifiers/channels/training/manual/custcaregist.txt
class_name.9=designgist
class_label.9=Design
class_data.9=/home/balaji/ir_cpp/data/classifiers/channels/classes/designgist.txt
training_data.9=/home/balaji/ir_cpp/data/classifiers/channels/training/designgist.txt
testing_corpus.9=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/corpus/designgist.txt
testing_data.9=/home/balaji/ir_cpp/data/classifiers/channels/testing/designgist.txt
testing_handles.9=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/handles/designgist.txt
testing_tweets.9=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/tweets/designgist.txt
training_corpus.9=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/corpus/designgist.txt
training_handles.9=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/handles/designgist.txt
training_tweets.9=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/tweets/designgist.txt
seed.9=/home/balaji/ir_cpp/data/classifiers/channels/training/manual/designgist.txt
class_name.10=envirogist
class_label.10=Environment
class_data.10=/home/balaji/ir_cpp/data/classifiers/channels/classes/envirogist.txt
training_data.10=/home/balaji/ir_cpp/data/classifiers/channels/training/envirogist.txt
testing_corpus.10=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/corpus/envirogist.txt
testing_data.10=/home/balaji/ir_cpp/data/classifiers/channels/testing/envirogist.txt
testing_handles.10=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/handles/envirogist.txt
testing_tweets.10=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/tweets/envirogist.txt
training_corpus.10=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/corpus/envirogist.txt
training_handles.10=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/handles/envirogist.txt
training_tweets.10=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/tweets/envirogist.txt
seed.10=/home/balaji/ir_cpp/data/classifiers/channels/training/manual/envirogist.txt
class_name.11=fashiongist
class_label.11=Fashion
class_data.11=/home/balaji/ir_cpp/data/classifiers/channels/classes/fashiongist.txt
training_data.11=/home/balaji/ir_cpp/data/classifiers/channels/training/fashiongist.txt
testing_corpus.11=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/corpus/fashiongist.txt
testing_data.11=/home/balaji/ir_cpp/data/classifiers/channels/testing/fashiongist.txt
testing_handles.11=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/handles/fashiongist.txt
testing_tweets.11=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/tweets/fashiongist.txt
training_corpus.11=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/corpus/fashiongist.txt
training_handles.11=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/handles/fashiongist.txt
training_tweets.11=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/tweets/fashiongist.txt
seed.11=/home/balaji/ir_cpp/data/classifiers/channels/training/manual/fashiongist.txt
class_name.12=flightsgist
class_label.12=Flights
class_data.12=/home/balaji/ir_cpp/data/classifiers/channels/classes/flightsgist.txt
training_data.12=/home/balaji/ir_cpp/data/classifiers/channels/training/flightsgist.txt
testing_corpus.12=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/corpus/flightsgist.txt
testing_data.12=/home/balaji/ir_cpp/data/classifiers/channels/testing/flightsgist.txt
testing_handles.12=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/handles/flightsgist.txt
testing_tweets.12=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/tweets/flightsgist.txt
training_corpus.12=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/corpus/flightsgist.txt
training_handles.12=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/handles/flightsgist.txt
training_tweets.12=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/tweets/flightsgist.txt
seed.12=/home/balaji/ir_cpp/data/classifiers/channels/training/manual/flightsgist.txt
class_name.13=foodgist
class_label.13=Food
class_data.13=/home/balaji/ir_cpp/data/classifiers/channels/classes/foodgist.txt
training_data.13=/home/balaji/ir_cpp/data/classifiers/channels/training/foodgist.txt
testing_corpus.13=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/corpus/foodgist.txt
testing_data.13=/home/balaji/ir_cpp/data/classifiers/channels/testing/foodgist.txt
testing_handles.13=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/handles/foodgist.txt
testing_tweets.13=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/tweets/foodgist.txt
training_corpus.13=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/corpus/foodgist.txt
training_handles.13=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/handles/foodgist.txt
training_tweets.13=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/tweets/foodgist.txt
seed.13=/home/balaji/ir_cpp/data/classifiers/channels/training/manual/foodgist.txt
class_name.14=geekgist
class_label.14=Geek
class_data.14=/home/balaji/ir_cpp/data/classifiers/channels/classes/geekgist.txt
training_data.14=/home/balaji/ir_cpp/data/classifiers/channels/training/geekgist.txt
testing_corpus.14=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/corpus/geekgist.txt
testing_data.14=/home/balaji/ir_cpp/data/classifiers/channels/testing/geekgist.txt
testing_handles.14=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/handles/geekgist.txt
testing_tweets.14=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/tweets/geekgist.txt
training_corpus.14=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/corpus/geekgist.txt
training_handles.14=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/handles/geekgist.txt
training_tweets.14=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/tweets/geekgist.txt
seed.14=/home/balaji/ir_cpp/data/classifiers/channels/training/manual/geekgist.txt
class_name.15=healthgist
class_label.15=Health
class_data.15=/home/balaji/ir_cpp/data/classifiers/channels/classes/healthgist.txt
training_data.15=/home/balaji/ir_cpp/data/classifiers/channels/training/healthgist.txt
testing_corpus.15=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/corpus/healthgist.txt
testing_data.15=/home/balaji/ir_cpp/data/classifiers/channels/testing/healthgist.txt
testing_handles.15=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/handles/healthgist.txt
testing_tweets.15=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/tweets/healthgist.txt
training_corpus.15=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/corpus/healthgist.txt
training_handles.15=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/handles/healthgist.txt
training_tweets.15=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/tweets/healthgist.txt
seed.15=/home/balaji/ir_cpp/data/classifiers/channels/training/manual/healthgist.txt
class_name.16=hitechgist
class_label.16=HiTech
class_data.16=/home/balaji/ir_cpp/data/classifiers/channels/classes/hitechgist.txt
training_data.16=/home/balaji/ir_cpp/data/classifiers/channels/training/hitechgist.txt
testing_corpus.16=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/corpus/hitechgist.txt
testing_data.16=/home/balaji/ir_cpp/data/classifiers/channels/testing/hitechgist.txt
testing_handles.16=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/handles/hitechgist.txt
testing_tweets.16=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/tweets/hitechgist.txt
training_corpus.16=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/corpus/hitechgist.txt
training_handles.16=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/handles/hitechgist.txt
training_tweets.16=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/tweets/hitechgist.txt
seed.16=/home/balaji/ir_cpp/data/classifiers/channels/training/manual/hitechgist.txt
class_name.17=hollygist
class_label.17=Movies
class_data.17=/home/balaji/ir_cpp/data/classifiers/channels/classes/hollygist.txt
training_data.17=/home/balaji/ir_cpp/data/classifiers/channels/training/hollygist.txt
testing_corpus.17=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/corpus/hollygist.txt
testing_data.17=/home/balaji/ir_cpp/data/classifiers/channels/testing/hollygist.txt
testing_handles.17=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/handles/hollygist.txt
testing_tweets.17=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/tweets/hollygist.txt
training_corpus.17=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/corpus/hollygist.txt
training_handles.17=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/handles/hollygist.txt
training_tweets.17=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/tweets/hollygist.txt
seed.17=/home/balaji/ir_cpp/data/classifiers/channels/training/manual/hollygist.txt
class_name.18=motorgist
class_label.18=Automobiles
class_data.18=/home/balaji/ir_cpp/data/classifiers/channels/classes/motorgist.txt
training_data.18=/home/balaji/ir_cpp/data/classifiers/channels/training/motorgist.txt
testing_corpus.18=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/corpus/motorgist.txt
testing_data.18=/home/balaji/ir_cpp/data/classifiers/channels/testing/motorgist.txt
testing_handles.18=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/handles/motorgist.txt
testing_tweets.18=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/tweets/motorgist.txt
training_corpus.18=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/corpus/motorgist.txt
training_handles.18=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/handles/motorgist.txt
training_tweets.18=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/tweets/motorgist.txt
seed.18=/home/balaji/ir_cpp/data/classifiers/channels/training/manual/motorgist.txt
class_name.19=musicgist
class_label.19=Music
class_data.19=/home/balaji/ir_cpp/data/classifiers/channels/classes/musicgist.txt
training_data.19=/home/balaji/ir_cpp/data/classifiers/channels/training/musicgist.txt
testing_corpus.19=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/corpus/musicgist.txt
testing_data.19=/home/balaji/ir_cpp/data/classifiers/channels/testing/musicgist.txt
testing_handles.19=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/handles/musicgist.txt
testing_tweets.19=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/tweets/musicgist.txt
training_corpus.19=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/corpus/musicgist.txt
training_handles.19=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/handles/musicgist.txt
training_tweets.19=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/tweets/musicgist.txt
seed.19=/home/balaji/ir_cpp/data/classifiers/channels/training/manual/musicgist.txt
class_name.20=ngogist
class_label.20=NGO
class_data.20=/home/balaji/ir_cpp/data/classifiers/channels/classes/ngogist.txt
training_data.20=/home/balaji/ir_cpp/data/classifiers/channels/training/ngogist.txt
testing_corpus.20=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/corpus/ngogist.txt
testing_data.20=/home/balaji/ir_cpp/data/classifiers/channels/testing/ngogist.txt
testing_handles.20=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/handles/ngogist.txt
testing_tweets.20=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/tweets/ngogist.txt
training_corpus.20=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/corpus/ngogist.txt
training_handles.20=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/handles/ngogist.txt
training_tweets.20=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/tweets/ngogist.txt
seed.20=/home/balaji/ir_cpp/data/classifiers/channels/training/manual/ngogist.txt
class_name.21=personalgist
class_label.21=Personal
class_data.21=/home/balaji/ir_cpp/data/classifiers/channels/classes/personalgist.txt
training_data.21=/home/balaji/ir_cpp/data/classifiers/channels/training/personalgist.txt
testing_corpus.21=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/corpus/personalgist.txt
testing_data.21=/home/balaji/ir_cpp/data/classifiers/channels/testing/personalgist.txt
testing_handles.21=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/handles/personalgist.txt
testing_tweets.21=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/tweets/personalgist.txt
training_corpus.21=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/corpus/personalgist.txt
training_handles.21=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/handles/personalgist.txt
training_tweets.21=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/tweets/personalgist.txt
seed.21=/home/balaji/ir_cpp/data/classifiers/channels/training/manual/personalgist.txt
class_name.22=pharmagist
class_label.22=Pharma
class_data.22=/home/balaji/ir_cpp/data/classifiers/channels/classes/pharmagist.txt
training_data.22=/home/balaji/ir_cpp/data/classifiers/channels/training/pharmagist.txt
testing_corpus.22=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/corpus/pharmagist.txt
testing_data.22=/home/balaji/ir_cpp/data/classifiers/channels/testing/pharmagist.txt
testing_handles.22=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/handles/pharmagist.txt
testing_tweets.22=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/tweets/pharmagist.txt
training_corpus.22=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/corpus/pharmagist.txt
training_handles.22=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/handles/pharmagist.txt
training_tweets.22=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/tweets/pharmagist.txt
seed.22=/home/balaji/ir_cpp/data/classifiers/channels/training/manual/pharmagist.txt
class_name.23=picgist
class_label.23=Pictures
class_data.23=/home/balaji/ir_cpp/data/classifiers/channels/classes/picgist.txt
training_data.23=/home/balaji/ir_cpp/data/classifiers/channels/training/picgist.txt
testing_corpus.23=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/corpus/picgist.txt
testing_data.23=/home/balaji/ir_cpp/data/classifiers/channels/testing/picgist.txt
testing_handles.23=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/handles/picgist.txt
testing_tweets.23=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/tweets/picgist.txt
training_corpus.23=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/corpus/picgist.txt
training_handles.23=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/handles/picgist.txt
training_tweets.23=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/tweets/picgist.txt
seed.23=/home/balaji/ir_cpp/data/classifiers/channels/training/manual/picgist.txt
class_name.24=porngist
class_label.24=Porn
class_data.24=/home/balaji/ir_cpp/data/classifiers/channels/classes/porngist.txt
training_data.24=/home/balaji/ir_cpp/data/classifiers/channels/training/porngist.txt
testing_corpus.24=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/corpus/porngist.txt
testing_data.24=/home/balaji/ir_cpp/data/classifiers/channels/testing/porngist.txt
testing_handles.24=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/handles/porngist.txt
testing_tweets.24=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/tweets/porngist.txt
training_corpus.24=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/corpus/porngist.txt
training_handles.24=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/handles/porngist.txt
training_tweets.24=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/tweets/porngist.txt
seed.24=/home/balaji/ir_cpp/data/classifiers/channels/training/manual/porngist.txt
class_name.25=retailgist
class_label.25=Retail
class_data.25=/home/balaji/ir_cpp/data/classifiers/channels/classes/retailgist.txt
training_data.25=/home/balaji/ir_cpp/data/classifiers/channels/training/retailgist.txt
testing_corpus.25=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/corpus/retailgist.txt
testing_data.25=/home/balaji/ir_cpp/data/classifiers/channels/testing/retailgist.txt
testing_handles.25=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/handles/retailgist.txt
testing_tweets.25=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/tweets/retailgist.txt
training_corpus.25=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/corpus/retailgist.txt
training_handles.25=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/handles/retailgist.txt
training_tweets.25=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/tweets/retailgist.txt
seed.25=/home/balaji/ir_cpp/data/classifiers/channels/training/manual/retailgist.txt
class_name.26=scitechgist
class_label.26=Science & Tech
class_data.26=/home/balaji/ir_cpp/data/classifiers/channels/classes/scitechgist.txt
training_data.26=/home/balaji/ir_cpp/data/classifiers/channels/training/scitechgist.txt
testing_corpus.26=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/corpus/scitechgist.txt
testing_data.26=/home/balaji/ir_cpp/data/classifiers/channels/testing/scitechgist.txt
testing_handles.26=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/handles/scitechgist.txt
testing_tweets.26=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/tweets/scitechgist.txt
training_corpus.26=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/corpus/scitechgist.txt
training_handles.26=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/handles/scitechgist.txt
training_tweets.26=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/tweets/scitechgist.txt
seed.26=/home/balaji/ir_cpp/data/classifiers/channels/training/manual/scitechgist.txt
class_name.27=soccergist
class_label.27=Soccer
class_data.27=/home/balaji/ir_cpp/data/classifiers/channels/classes/soccergist.txt
training_data.27=/home/balaji/ir_cpp/data/classifiers/channels/training/soccergist.txt
testing_corpus.27=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/corpus/soccergist.txt
testing_data.27=/home/balaji/ir_cpp/data/classifiers/channels/testing/soccergist.txt
testing_handles.27=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/handles/soccergist.txt
testing_tweets.27=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/tweets/soccergist.txt
training_corpus.27=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/corpus/soccergist.txt
training_handles.27=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/handles/soccergist.txt
training_tweets.27=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/tweets/soccergist.txt
seed.27=/home/balaji/ir_cpp/data/classifiers/channels/training/manual/soccergist.txt
class_name.28=sportsinagist
class_label.28=Sports
class_data.28=/home/balaji/ir_cpp/data/classifiers/channels/classes/sportsinagist.txt
training_data.28=/home/balaji/ir_cpp/data/classifiers/channels/training/sportsinagist.txt
testing_corpus.28=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/corpus/sportsinagist.txt
testing_data.28=/home/balaji/ir_cpp/data/classifiers/channels/testing/sportsinagist.txt
testing_handles.28=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/handles/sportsinagist.txt
testing_tweets.28=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/tweets/sportsinagist.txt
training_corpus.28=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/corpus/sportsinagist.txt
training_handles.28=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/handles/sportsinagist.txt
training_tweets.28=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/tweets/sportsinagist.txt
seed.28=/home/balaji/ir_cpp/data/classifiers/channels/training/manual/sportsinagist.txt
class_name.29=travelgist
class_label.29=Travel
class_data.29=/home/balaji/ir_cpp/data/classifiers/channels/classes/travelgist.txt
training_data.29=/home/balaji/ir_cpp/data/classifiers/channels/training/travelgist.txt
testing_corpus.29=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/corpus/travelgist.txt
testing_data.29=/home/balaji/ir_cpp/data/classifiers/channels/testing/travelgist.txt
testing_handles.29=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/handles/travelgist.txt
testing_tweets.29=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/tweets/travelgist.txt
training_corpus.29=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/corpus/travelgist.txt
training_handles.29=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/handles/travelgist.txt
training_tweets.29=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/tweets/travelgist.txt
seed.29=/home/balaji/ir_cpp/data/classifiers/channels/training/manual/travelgist.txt
class_name.30=uspoliticsgist
class_label.30=US Politics
class_data.30=/home/balaji/ir_cpp/data/classifiers/channels/classes/uspoliticsgist.txt
training_data.30=/home/balaji/ir_cpp/data/classifiers/channels/training/uspoliticsgist.txt
testing_corpus.30=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/corpus/uspoliticsgist.txt
testing_data.30=/home/balaji/ir_cpp/data/classifiers/channels/testing/uspoliticsgist.txt
testing_handles.30=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/handles/uspoliticsgist.txt
testing_tweets.30=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/tweets/uspoliticsgist.txt
training_corpus.30=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/corpus/uspoliticsgist.txt
training_handles.30=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/handles/uspoliticsgist.txt
training_tweets.30=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/tweets/uspoliticsgist.txt
seed.30=/home/balaji/ir_cpp/data/classifiers/channels/training/manual/uspoliticsgist.txt
class_name.31=winegist
class_label.31=Wine
class_data.31=/home/balaji/ir_cpp/data/classifiers/channels/classes/winegist.txt
training_data.31=/home/balaji/ir_cpp/data/classifiers/channels/training/winegist.txt
testing_corpus.31=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/corpus/winegist.txt
testing_data.31=/home/balaji/ir_cpp/data/classifiers/channels/testing/winegist.txt
testing_handles.31=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/handles/winegist.txt
testing_tweets.31=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/tweets/winegist.txt
training_corpus.31=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/corpus/winegist.txt
training_handles.31=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/handles/winegist.txt
training_tweets.31=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/tweets/winegist.txt
seed.31=/home/balaji/ir_cpp/data/classifiers/channels/training/manual/winegist.txt
class_name.32=worldbizgist
class_label.32=World Biz
class_data.32=/home/balaji/ir_cpp/data/classifiers/channels/classes/worldbizgist.txt
training_data.32=/home/balaji/ir_cpp/data/classifiers/channels/training/worldbizgist.txt
testing_corpus.32=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/corpus/worldbizgist.txt
testing_data.32=/home/balaji/ir_cpp/data/classifiers/channels/testing/worldbizgist.txt
testing_handles.32=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/handles/worldbizgist.txt
testing_tweets.32=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/tweets/worldbizgist.txt
training_corpus.32=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/corpus/worldbizgist.txt
training_handles.32=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/handles/worldbizgist.txt
training_tweets.32=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/tweets/worldbizgist.txt
seed.32=/home/balaji/ir_cpp/data/classifiers/channels/training/manual/worldbizgist.txt
class_name.33=worldnewsgist
class_label.33=World News
class_data.33=/home/balaji/ir_cpp/data/classifiers/channels/classes/worldnewsgist.txt
training_data.33=/home/balaji/ir_cpp/data/classifiers/channels/training/worldnewsgist.txt
testing_corpus.33=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/corpus/worldnewsgist.txt
testing_data.33=/home/balaji/ir_cpp/data/classifiers/channels/testing/worldnewsgist.txt
testing_handles.33=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/handles/worldnewsgist.txt
testing_tweets.33=/home/balaji/ir_cpp/data/classifiers/channels/testing/tweetsource/tweets/worldnewsgist.txt
training_corpus.33=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/corpus/worldnewsgist.txt
training_handles.33=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/handles/worldnewsgist.txt
training_tweets.33=/home/balaji/ir_cpp/data/classifiers/channels/training/tweetsource/tweets/worldnewsgist.txt
seed.33=/home/balaji/ir_cpp/data/classifiers/channels/training/manual/worldnewsgist.txt
